/* HOTEL HERO */

.hotel-hero-section {
  background-color: var(--modal-light-text);
}

.hotel-hero-section .container {
  overflow: hidden;
}

.hotel-title {
  font-weight: 400;
  font-size: 40px;
  line-height: calc(40 / 40);
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: var(--common-dark);
  margin-bottom: 24px;
  margin-top: 0;
}

@media screen and (min-width: 768px) {
  .hotel-title {
    font-size: 80px;
    line-height: calc(80 / 80);
    letter-spacing: -0.02em;
    margin-bottom: 32px;
  }
}

@media screen and (min-width: 1440px) {
  .hotel-title {
    font-size: 90px;
    line-height: calc(90 / 90);
  }
}

.button-flex {
  display: flex;
  gap: 12px;
  margin: 24px 0 40px;
}

@media screen and (min-width: 768px) {
  .button-flex {
    gap: 14px;
    margin: 32px 0 54px;
  }
}

@media screen and (min-width: 1440px) {
  .button-flex {
    margin: 32px 0 204px;
  }
}

.button-hero {
  width: 131px;
  height: 34px;
  border: 0.8px solid var(--common-dark);
  border-radius: 32px;
  font-size: 14px;
  line-height: calc(18 / 14);
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: var(--common-dark);
  background-color: inherit;
}

@media screen and (min-width: 768px) {
  .button-hero {
    width: 143px;
    height: 40px;
  }
}

@media screen and (min-width: 1440px) {
  .button-hero {
    width: 170px;
    height: 42px;
    font-size: 18px;
    line-height: calc(24 / 18);
  }
}

.button-hero:hover,
.button-hero:focus {
  background-color: var(--common-dark);
  color: var(--modal-light-text);
  border-color: var(--modal-light-text);
}

/* PHOTO-SLIDER */
.hotel-photo-flex {
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  margin-bottom: 24px;
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .hotel-photo-flex {
    gap: 32px;
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 1440px) {
  .hotel-photo-flex {
    gap: 32px;
    margin-bottom: 16px;
  }
}

.slider-arrows {
  display: flex;
  justify-content: right;
  gap: 32px;
  margin-bottom: 40px;
  align-items: center;
}

.slider-buttons {
  background: transparent;
  border: none;
  color: var(--common-dark-30);
}

.slider-buttons:hover,
.slider-buttons:focus {
  color: var(--common-dark);
}

.arrow-button {
  fill: currentColor;
}

/* arrow-par */

@media screen and (min-width: 768px) {
  .arrow-par {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}

/* PARAGRAPH */

.hotel-hero-par {
  font-size: 14px;
  line-height: calc(18 / 14);
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: var(--common-dark);
}

@media screen and (min-width: 768px) {
  .hotel-hero-par {
    max-width: 370px;
  }
}

@media screen and (min-width: 1440px) {
  .hero-flex {
    display: flex;
  }

  .title-button {
    margin-top: auto;
    margin-right: 369px;
  }

  .slider-arrows {
    margin-left: 367px;
  }

  .arrow-par {
    flex-direction: row-reverse;
    justify-content: left;
  }

  .hotel-hero-par {
    margin-top: -45px;
  }
}
