<section class="about section">
  <div class="container">
    <h1 class="reset-title visually-hidden">About a kitchen</h1>
    <div class="about-pics-wrapper">
      <picture class="about-pic revealator-fade relv-animation">
        <source media="(min-width: 1440px)" srcset="
            ./img/restaurant/about/img1-desk-1x.webp 1x,
            ./img/restaurant/about/img1-desk-2x.webp 2x
          " width="511" type="image/webp" />
        <source media="(min-width: 1440px)" srcset="
            ./img/restaurant/about/img1-desk-1x.jpg 1x,
            ./img/restaurant/about/img1-desk-2x.jpg 2x
          " width="511" type="image/jpg" />
        <source media="(min-width: 768px)" srcset="
            ./img/restaurant/about/img1-tab-1x.webp 1x,
            ./img/restaurant/about/img1-tab-2x.webp 2x
          " width="388" type="image/webp" />
        <source media="(min-width: 768px)" srcset="
            ./img/restaurant/about/img1-tab-1x.jpg 1x,
            ./img/restaurant/about/img1-tab-2x.jpg 2x
          " width="388" type="image/jpg" />
        <source media="(max-width: 767px)" srcset="
            ./img/restaurant/about/img1-mob-1x.webp 1x,
            ./img/restaurant/about/img1-mob-2x.webp 2x
          " width="335" type="image/webp" />
        <source media="(max-width: 767px)" srcset="
            ./img/restaurant/about/img1-mob-1x.jpg 1x,
            ./img/restaurant/about/img1-mob-2x.jpg 2x
          " width="335" type="image/jpg" />
        <img src="./img/restaurant/about/img1-mob-1x.jpg" alt="About a Kitchen" width="335" height="443"
          class="about-img animated-image" />
      </picture>
      <ul class="about-pics-list reset-list">
        <li>
          <picture class="revealator-fade revealator-delay1 relv-animation">
            <source media="(min-width: 1440px)" srcset="
                ./img/restaurant/about/img2-desk-1x.webp 1x,
                ./img/restaurant/about/img2-desk-2x.webp 2x
              " width="334" type="image/webp" />
            <source media="(min-width: 1440px)" srcset="
                ./img/restaurant/about/img2-desk-1x.jpg 1x,
                ./img/restaurant/about/img2-desk-2x.jpg 2x
              " width="334" type="image/jpg" />
            <source media="(min-width: 768px)" srcset="
                ./img/restaurant/about/img2-tab-1x.webp 1x,
                ./img/restaurant/about/img2-tab-2x.webp 2x
              " width="284" type="image/webp" />
            <source media="(min-width: 768px)" srcset="
                ./img/restaurant/about/img2-tab-1x.jpg 1x,
                ./img/restaurant/about/img2-tab-2x.jpg 2x
              " width="284" type="image/jpg" />
            <source media="(max-width: 767px)" srcset="
                ./img/restaurant/about/img2-mob-1x.webp 1x,
                ./img/restaurant/about/img2-mob-2x.webp 2x
              " width="158" type="image/webp" />
            <source media="(max-width: 767px)" srcset="
                ./img/restaurant/about/img2-mob-1x.jpg 1x,
                ./img/restaurant/about/img2-mob-2x.jpg 2x
              " width="158" type="image/jpg" />
            <img src="./img/restaurant/about/img2-mob-1x.jpg" width="158" height="149" alt="About a Kitchen"
              class="about-img animated-image" />
          </picture>
          <p class="about-txt-hidden reset-paragraph">
            At Mimino, we are experts in <i>meat preparation</i>. Our chefs use
            only <br />
            the finest and freshest ingredients to create
            <i>delicious</i> dishes that showcase the flavors of premium cuts of
            meat.
          </p>
        </li>
        <li>
          <picture class="revealator-fade revealator-delay2 relv-animation">
            <source media="(min-width: 1440px)" srcset="
                ./img/restaurant/about/img3-desk-1x.webp 1x,
                ./img/restaurant/about/img3-desk-2x.webp 2x
              " width="467" type="image/webp" />
            <source media="(min-width: 1440px)" srcset="
                ./img/restaurant/about/img3-desk-1x.jpg 1x,
                ./img/restaurant/about/img3-desk-2x.jpg 2x
              " width="467" type="image/jpg" />
            <source media="(min-width: 768px)" srcset="
                ./img/restaurant/about/img3-tab-1x.webp 1x,
                ./img/restaurant/about/img3-tab-2x.webp 2x
              " width="284" type="image/webp" />
            <source media="(min-width: 768px)" srcset="
                ./img/restaurant/about/img3-tab-1x.jpg 1x,
                ./img/restaurant/about/img3-tab-2x.jpg 2x
              " width="284" type="image/jpg" />
            <source media="(max-width: 767px)" srcset="
                ./img/restaurant/about/img3-mob-1x.webp 1x,
                ./img/restaurant/about/img3-mob-2x.webp 2x
              " width="157" type="image/webp" />
            <source media="(max-width: 767px)" srcset="
                ./img/restaurant/about/img3-mob-1x.jpg 1x,
                ./img/restaurant/about/img3-mob-2x.jpg 2x
              " width="157" type="image/jpg" />
            <img src="./img/restaurant/about/img3-mob-1x.jpg" alt="About a Kitchen" width="157" height="149"
              class="about-img animated-image" />
          </picture>
          <p class="about-txt-hidden reset-paragraph">
            Our <i>slow-cooking</i> process and expert seasoning bring out the
            best in each dish, <br />
            making for an unforgettable dining experience. Come taste the magic
            <i>of meat preparation</i> at Mimino.
          </p>
        </li>
      </ul>
    </div>
    <ul class="about-txt-list reset-list">
      <li>
        <p class="about-txt reset-paragraph">
          At Mimino, we are experts in <i>meat preparation</i>. Our chefs use
          only the finest and freshest ingredients to create
          <i>delicious</i> dishes that showcase the flavors of premium cuts of
          meat.
        </p>
      </li>
      <li>
        <p class="about-txt reset-paragraph">
          Our <i>slow-cooking</i> process and expert seasoning bring out the
          best in each dish, making for an unforgettable dining experience. Come
          taste the magic <i>of meat preparation</i> at Mimino.
        </p>
      </li>
    </ul>
  </div>
</section>