<section class="hero-section">
  <div class="container">
    <div class="hero-wrapper">
      <div class="hero-inner-wrapper">
        <h1 class="hero-title reset-title revealator-slideright relv-animation">Restaurant</h1>
        <ul class="hero-button-list reset-list revealator-slideright revealator-delay1 relv-animation">
          <li>
            <button class="hero-btn common-button" type="button" data-model-window="table">
              book a table
            </button>
          </li>
          <li>
            <button class="hero-btn common-button" type="button">
              View a menu
            </button>
          </li>
        </ul>
      </div>
      <div class="slider-wrapper revealator-slideleft revealator-delay4 relv-animation">
        <ul class="slider-img-list reset-list">
          <li>
            <picture>
              <source media="(min-width: 1440px)" srcset="
                  ./img/restaurant/hero/image4-desk-1x.webp 1x,
                  ./img/restaurant/hero/image4-desk-2x.webp 2x
                " width="436" type="image/webp" />
              <source media="(min-width: 1440px)" srcset="
                  ./img/restaurant/hero/image4-desk-1x.jpg 1x,
                  ./img/restaurant/hero/image4-desk-2x.jpg 2x
                " width="436" type="image/jpg" />
              <source media="(min-width: 768px)" srcset="
                  ./img/restaurant/hero/image4-tab-1x.webp 1x,
                  ./img/restaurant/hero/image4-tab-2x.webp 2x
                " width="436" type="image/webp" />
              <source media="(min-width: 768px)" srcset="
                  ./img/restaurant/hero/image4-tab-1x.jpg 1x,
                  ./img/restaurant/hero/image4-tab-2x.jpg 2x
                " width="436" type="image/jpg" />
              <source media="(max-width: 767px)" srcset="
                  ./img/restaurant/hero/image4-mob-1x.webp 1x,
                  ./img/restaurant/hero/image4-mob-2x.webp 2x
                " width="250" type="image/webp" />
              <source media="(max-width: 767px)" srcset="
                  ./img/restaurant/about/image4-mob-1x.jpg 1x,
                  ./img/restaurant/about/image4-mob-2x.jpg 2x
                " width="250" type="image/jpg" />
              <img src="./img/restaurant/hero/image4-mob-1x.jpg" alt="About Hotel" width="250" height="429"
                class="about-img" />
            </picture>
          </li>
          <li>
            <picture>
              <source media="(min-width: 1440px)" srcset="
                  ./img/restaurant/hero/image5-desk-1x.webp 1x,
                  ./img/restaurant/hero/image5-desk-2x.webp 2x
                " width="436" type="image/webp" />
              <source media="(min-width: 1440px)" srcset="
                  ./img/restaurant/hero/image5-desk-1x.jpg 1x,
                  ./img/restaurant/hero/image5-desk-2x.jpg 2x
                " width="436" type="image/jpg" />
              <source media="(min-width: 768px)" srcset="
                  ./img/restaurant/hero/image5-tab-1x.webp 1x,
                  ./img/restaurant/hero/image5-tab-2x.webp 2x
                " width="436" type="image/webp" />
              <source media="(min-width: 768px)" srcset="
                  ./img/restaurant/hero/image5-tab-1x.jpg 1x,
                  ./img/restaurant/hero/image5-tab-2x.jpg 2x
                " width="436" type="image/jpg" />
              <source media="(max-width: 767px)" srcset="
                  ./img/restaurant/hero/image5-mob-1x.webp 1x,
                  ./img/restaurant/hero/image5-mob-2x.webp 2x
                " width="250" type="image/webp" />
              <source media="(max-width: 767px)" srcset="
                  ./img/restaurant/about/image5-mob-1x.jpg 1x,
                  ./img/restaurant/about/image5-mob-2x.jpg 2x
                " width="250" type="image/jpg" />
              <img src="./img/restaurant/hero/image5-mob-1x.jpg" alt="About Hotel" width="250" height="429"
                class="about-img" />
            </picture>
          </li>
          <!-- <li>
            <picture>
              <source
                media="(min-width: 1440px)"
                srcset="
                  ./img/restaurant/hero/image1-desk-1x.webp 1x,
                  ./img/restaurant/hero/image1-desk-2x.webp 2x
                "
                width="436"
                type="image/webp"
              />
              <source
                media="(min-width: 1440px)"
                srcset="
                  ./img/restaurant/hero/image1-desk-1x.jpg 1x,
                  ./img/restaurant/hero/image1-desk-2x.jpg 2x
                "
                width="436"
                type="image/jpg"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/restaurant/hero/image1-tab-1x.webp 1x,
                  ./img/restaurant/hero/image1-tab-2x.webp 2x
                "
                width="436"
                type="image/webp"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/restaurant/hero/image1-tab-1x.jpg 1x,
                  ./img/restaurant/hero/image1-tab-2x.jpg 2x
                "
                width="436"
                type="image/jpg"
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  ./img/restaurant/hero/image1-mob-1x.webp 1x,
                  ./img/restaurant/hero/image1-mob-2x.webp 2x
                "
                width="250"
                type="image/webp"
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  ./img/restaurant/about/image1-mob-1x.jpg 1x,
                  ./img/restaurant/about/image1-mob-2x.jpg 2x
                "
                width="250"
                type="image/jpg"
              />
              <img
                src="./img/restaurant/hero/image1-mob-1x.jpg"
                alt="About Hotel"
                width="250"
                height="429"
                class="about-img"
              />
            </picture>
          </li>
          <li>
            <picture>
              <source
                media="(min-width: 1440px)"
                srcset="
                  ./img/restaurant/hero/image2-desk-1x.webp 1x,
                  ./img/restaurant/hero/image2-desk-2x.webp 2x
                "
                width="436"
                type="image/webp"
              />
              <source
                media="(min-width: 1440px)"
                srcset="
                  ./img/restaurant/hero/image2-desk-1x.jpg 1x,
                  ./img/restaurant/hero/image2-desk-2x.jpg 2x
                "
                width="436"
                type="image/jpg"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/restaurant/hero/image2-tab-1x.webp 1x,
                  ./img/restaurant/hero/image2-tab-2x.webp 2x
                "
                width="436"
                type="image/webp"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/restaurant/hero/image2-tab-1x.jpg 1x,
                  ./img/restaurant/hero/image2-tab-2x.jpg 2x
                "
                width="436"
                type="image/jpg"
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  ./img/restaurant/hero/image2-mob-1x.webp 1x,
                  ./img/restaurant/hero/image2-mob-2x.webp 2x
                "
                width="250"
                type="image/webp"
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  ./img/restaurant/about/image2-mob-1x.jpg 1x,
                  ./img/restaurant/about/image2-mob-2x.jpg 2x
                "
                width="250"
                type="image/jpg"
              />
              <img
                src="./img/restaurant/hero/image2-mob-1x.jpg"
                alt="About Hotel"
                width="250"
                height="429"
                class="about-img"
              />
            </picture>
          </li>
          <li>
            <picture>
              <source
                media="(min-width: 1440px)"
                srcset="
                  ./img/restaurant/hero/image3-desk-1x.webp 1x,
                  ./img/restaurant/hero/image3-desk-2x.webp 2x
                "
                width="436"
                type="image/webp"
              />
              <source
                media="(min-width: 1440px)"
                srcset="
                  ./img/restaurant/hero/image3-desk-1x.jpg 1x,
                  ./img/restaurant/hero/image3-desk-2x.jpg 2x
                "
                width="436"
                type="image/jpg"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/restaurant/hero/image3-tab-1x.webp 1x,
                  ./img/restaurant/hero/image3-tab-2x.webp 2x
                "
                width="436"
                type="image/webp"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/restaurant/hero/image3-tab-1x.jpg 1x,
                  ./img/restaurant/hero/image3-tab-2x.jpg 2x
                "
                width="436"
                type="image/jpg"
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  ./img/restaurant/hero/image3-mob-1x.webp 1x,
                  ./img/restaurant/hero/image3-mob-2x.webp 2x
                "
                width="250"
                type="image/webp"
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  ./img/restaurant/about/image3-mob-1x.jpg 1x,
                  ./img/restaurant/about/image3-mob-2x.jpg 2x
                "
                width="250"
                type="image/jpg"
              />
              <img
                src="./img/restaurant/hero/image3-mob-1x.jpg"
                alt="About Hotel"
                width="250"
                height="429"
                class="about-img"
              />
            </picture>
          </li>
          <li>
            <picture>
              <source
                media="(min-width: 1440px)"
                srcset="
                  ./img/restaurant/hero/image6-desk-1x.webp 1x,
                  ./img/restaurant/hero/image6-desk-2x.webp 2x
                "
                width="436"
                type="image/webp"
              />
              <source
                media="(min-width: 1440px)"
                srcset="
                  ./img/restaurant/hero/image6-desk-1x.jpg 1x,
                  ./img/restaurant/hero/image6-desk-2x.jpg 2x
                "
                width="436"
                type="image/jpg"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/restaurant/hero/image6-tab-1x.webp 1x,
                  ./img/restaurant/hero/image6-tab-2x.webp 2x
                "
                width="436"
                type="image/webp"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/restaurant/hero/image6-tab-1x.jpg 1x,
                  ./img/restaurant/hero/image6-tab-2x.jpg 2x
                "
                width="436"
                type="image/jpg"
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  ./img/restaurant/hero/image6-mob-1x.webp 1x,
                  ./img/restaurant/hero/image6-mob-2x.webp 2x
                "
                width="250"
                type="image/webp"
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  ./img/restaurant/about/image6-mob-1x.jpg 1x,
                  ./img/restaurant/about/image6-mob-2x.jpg 2x
                "
                width="250"
                type="image/jpg"
              />
              <img
                src="./img/restaurant/hero/image6-mob-1x.jpg"
                alt="About Hotel"
                width="250"
                height="429"
                class="about-img"
              />
            </picture>
          </li>
          <li>
            <picture>
              <source
                media="(min-width: 1440px)"
                srcset="
                  ./img/restaurant/hero/image7-desk-1x.webp 1x,
                  ./img/restaurant/hero/image7-desk-2x.webp 2x
                "
                width="436"
                type="image/webp"
              />
              <source
                media="(min-width: 1440px)"
                srcset="
                  ./img/restaurant/hero/image7-desk-1x.jpg 1x,
                  ./img/restaurant/hero/image7-desk-2x.jpg 2x
                "
                width="436"
                type="image/jpg"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/restaurant/hero/image7-tab-1x.webp 1x,
                  ./img/restaurant/hero/image7-tab-2x.webp 2x
                "
                width="436"
                type="image/webp"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/restaurant/hero/image7-tab-1x.jpg 1x,
                  ./img/restaurant/hero/image7-tab-2x.jpg 2x
                "
                width="436"
                type="image/jpg"
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  ./img/restaurant/hero/image7-mob-1x.webp 1x,
                  ./img/restaurant/hero/image7-mob-2x.webp 2x
                "
                width="250"
                type="image/webp"
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  ./img/restaurant/about/image7-mob-1x.jpg 1x,
                  ./img/restaurant/about/image7-mob-2x.jpg 2x
                "
                width="250"
                type="image/jpg"
              />
              <img
                src="./img/restaurant/hero/image7-mob-1x.jpg"
                alt="About Hotel"
                width="250"
                height="429"
                class="about-img"
              />
            </picture>
          </li>
          <li>
            <picture>
              <source
                media="(min-width: 1440px)"
                srcset="
                  ./img/restaurant/hero/image8-desk-1x.webp 1x,
                  ./img/restaurant/hero/image8-desk-2x.webp 2x
                "
                width="436"
                type="image/webp"
              />
              <source
                media="(min-width: 1440px)"
                srcset="
                  ./img/restaurant/hero/image8-desk-1x.jpg 1x,
                  ./img/restaurant/hero/image8-desk-2x.jpg 2x
                "
                width="436"
                type="image/jpg"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/restaurant/hero/image8-tab-1x.webp 1x,
                  ./img/restaurant/hero/image8-tab-2x.webp 2x
                "
                width="436"
                type="image/webp"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/restaurant/hero/image8-tab-1x.jpg 1x,
                  ./img/restaurant/hero/image8-tab-2x.jpg 2x
                "
                width="436"
                type="image/jpg"
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  ./img/restaurant/hero/image8-mob-1x.webp 1x,
                  ./img/restaurant/hero/image8-mob-2x.webp 2x
                "
                width="250"
                type="image/webp"
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  ./img/restaurant/about/image8-mob-1x.jpg 1x,
                  ./img/restaurant/about/image8-mob-2x.jpg 2x
                "
                width="250"
                type="image/jpg"
              />
              <img
                src="./img/restaurant/hero/image8-mob-1x.jpg"
                alt="About Hotel"
                width="250"
                height="429"
                class="about-img"
              />
            </picture>
          </li>
          <li>
            <picture>
              <source
                media="(min-width: 1440px)"
                srcset="
                  ./img/restaurant/hero/image9-desk-1x.webp 1x,
                  ./img/restaurant/hero/image9-desk-2x.webp 2x
                "
                width="436"
                type="image/webp"
              />
              <source
                media="(min-width: 1440px)"
                srcset="
                  ./img/restaurant/hero/image9-desk-1x.jpg 1x,
                  ./img/restaurant/hero/image9-desk-2x.jpg 2x
                "
                width="436"
                type="image/jpg"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/restaurant/hero/image9-tab-1x.webp 1x,
                  ./img/restaurant/hero/image9-tab-2x.webp 2x
                "
                width="436"
                type="image/webp"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/restaurant/hero/image9-tab-1x.jpg 1x,
                  ./img/restaurant/hero/image9-tab-2x.jpg 2x
                "
                width="436"
                type="image/jpg"
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  ./img/restaurant/hero/image9-mob-1x.webp 1x,
                  ./img/restaurant/hero/image9-mob-2x.webp 2x
                "
                width="250"
                type="image/webp"
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  ./img/restaurant/about/image9-mob-1x.jpg 1x,
                  ./img/restaurant/about/image9-mob-2x.jpg 2x
                "
                width="250"
                type="image/jpg"
              />
              <img
                src="./img/restaurant/hero/image9-mob-1x.jpg"
                alt="About Hotel"
                width="250"
                height="429"
                class="about-img"
              />
            </picture>
          </li>
          <li>
            <picture>
              <source
                media="(min-width: 1440px)"
                srcset="
                  ./img/restaurant/hero/image10-desk-1x.webp 1x,
                  ./img/restaurant/hero/image10-desk-2x.webp 2x
                "
                width="436"
                type="image/webp"
              />
              <source
                media="(min-width: 1440px)"
                srcset="
                  ./img/restaurant/hero/image10-desk-1x.jpg 1x,
                  ./img/restaurant/hero/image10-desk-2x.jpg 2x
                "
                width="436"
                type="image/jpg"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/restaurant/hero/image10-tab-1x.webp 1x,
                  ./img/restaurant/hero/image10-tab-2x.webp 2x
                "
                width="436"
                type="image/webp"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/restaurant/hero/image10-tab-1x.jpg 1x,
                  ./img/restaurant/hero/image10-tab-2x.jpg 2x
                "
                width="436"
                type="image/jpg"
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  ./img/restaurant/hero/image10-mob-1x.webp 1x,
                  ./img/restaurant/hero/image10-mob-2x.webp 2x
                "
                width="250"
                type="image/webp"
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  ./img/restaurant/about/image10-mob-1x.jpg 1x,
                  ./img/restaurant/about/image10-mob-2x.jpg 2x
                "
                width="250"
                type="image/jpg"
              />
              <img
                src="./img/restaurant/hero/image10-mob-1x.jpg"
                alt="About Hotel"
                width="250"
                height="429"
                class="about-img"
              />
            </picture>
          </li>
          <li>
            <picture>
              <source
                media="(min-width: 1440px)"
                srcset="
                  ./img/restaurant/hero/image11-desk-1x.webp 1x,
                  ./img/restaurant/hero/image11-desk-2x.webp 2x
                "
                width="436"
                type="image/webp"
              />
              <source
                media="(min-width: 1440px)"
                srcset="
                  ./img/restaurant/hero/image11-desk-1x.jpg 1x,
                  ./img/restaurant/hero/image11-desk-2x.jpg 2x
                "
                width="436"
                type="image/jpg"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/restaurant/hero/image11-tab-1x.webp 1x,
                  ./img/restaurant/hero/image11-tab-2x.webp 2x
                "
                width="436"
                type="image/webp"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/restaurant/hero/image11-tab-1x.jpg 1x,
                  ./img/restaurant/hero/image11-tab-2x.jpg 2x
                "
                width="436"
                type="image/jpg"
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  ./img/restaurant/hero/image11-mob-1x.webp 1x,
                  ./img/restaurant/hero/image11-mob-2x.webp 2x
                "
                width="250"
                type="image/webp"
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  ./img/restaurant/about/image11-mob-1x.jpg 1x,
                  ./img/restaurant/about/image11-mob-2x.jpg 2x
                "
                width="250"
                type="image/jpg"
              />
              <img
                src="./img/restaurant/hero/image11-mob-1x.jpg"
                alt="About Hotel"
                width="250"
                height="429"
                class="about-img"
              />
            </picture>
          </li>
          <li>
            <picture>
              <source
                media="(min-width: 1440px)"
                srcset="
                  ./img/restaurant/hero/image12-desk-1x.webp 1x,
                  ./img/restaurant/hero/image12-desk-2x.webp 2x
                "
                width="436"
                type="image/webp"
              />
              <source
                media="(min-width: 1440px)"
                srcset="
                  ./img/restaurant/hero/image12-desk-1x.jpg 1x,
                  ./img/restaurant/hero/image12-desk-2x.jpg 2x
                "
                width="436"
                type="image/jpg"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/restaurant/hero/image12-tab-1x.webp 1x,
                  ./img/restaurant/hero/image12-tab-2x.webp 2x
                "
                width="436"
                type="image/webp"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/restaurant/hero/image12-tab-1x.jpg 1x,
                  ./img/restaurant/hero/image12-tab-2x.jpg 2x
                "
                width="436"
                type="image/jpg"
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  ./img/restaurant/hero/image12-mob-1x.webp 1x,
                  ./img/restaurant/hero/image12-mob-2x.webp 2x
                "
                width="250"
                type="image/webp"
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  ./img/restaurant/about/image12-mob-1x.jpg 1x,
                  ./img/restaurant/about/image12-mob-2x.jpg 2x
                "
                width="250"
                type="image/jpg"
              />
              <img
                src="./img/restaurant/hero/image12-mob-1x.jpg"
                alt="About Hotel"
                width="250"
                height="429"
                class="about-img"
              />
            </picture>
          </li>
          <li>
            <picture>
              <source
                media="(min-width: 1440px)"
                srcset="
                  ./img/restaurant/hero/image13-desk-1x.webp 1x,
                  ./img/restaurant/hero/image13-desk-2x.webp 2x
                "
                width="436"
                type="image/webp"
              />
              <source
                media="(min-width: 1440px)"
                srcset="
                  ./img/restaurant/hero/image13-desk-1x.jpg 1x,
                  ./img/restaurant/hero/image13-desk-2x.jpg 2x
                "
                width="436"
                type="image/jpg"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/restaurant/hero/image13-tab-1x.webp 1x,
                  ./img/restaurant/hero/image13-tab-2x.webp 2x
                "
                width="436"
                type="image/webp"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/restaurant/hero/image13-tab-1x.jpg 1x,
                  ./img/restaurant/hero/image13-tab-2x.jpg 2x
                "
                width="436"
                type="image/jpg"
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  ./img/restaurant/hero/image13-mob-1x.webp 1x,
                  ./img/restaurant/hero/image13-mob-2x.webp 2x
                "
                width="250"
                type="image/webp"
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  ./img/restaurant/about/image13-mob-1x.jpg 1x,
                  ./img/restaurant/about/image13-mob-2x.jpg 2x
                "
                width="250"
                type="image/jpg"
              />
              <img
                src="./img/restaurant/hero/image13-mob-1x.jpg"
                alt="About Hotel"
                width="250"
                height="429"
                class="about-img"
              />
            </picture>
          </li>
          <li>
            <picture>
              <source
                media="(min-width: 1440px)"
                srcset="
                  ./img/restaurant/hero/image14-desk-1x.webp 1x,
                  ./img/restaurant/hero/image14-desk-2x.webp 2x
                "
                width="436"
                type="image/webp"
              />
              <source
                media="(min-width: 1440px)"
                srcset="
                  ./img/restaurant/hero/image14-desk-1x.jpg 1x,
                  ./img/restaurant/hero/image14-desk-2x.jpg 2x
                "
                width="436"
                type="image/jpg"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/restaurant/hero/image14-tab-1x.webp 1x,
                  ./img/restaurant/hero/image14-tab-2x.webp 2x
                "
                width="436"
                type="image/webp"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/restaurant/hero/image14-tab-1x.jpg 1x,
                  ./img/restaurant/hero/image14-tab-2x.jpg 2x
                "
                width="436"
                type="image/jpg"
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  ./img/restaurant/hero/image14-mob-1x.webp 1x,
                  ./img/restaurant/hero/image14-mob-2x.webp 2x
                "
                width="250"
                type="image/webp"
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  ./img/restaurant/about/image14-mob-1x.jpg 1x,
                  ./img/restaurant/about/image14-mob-2x.jpg 2x
                "
                width="250"
                type="image/jpg"
              />
              <img
                src="./img/restaurant/hero/image14-mob-1x.jpg"
                alt="About Hotel"
                width="250"
                height="429"
                class="about-img"
              />
            </picture>
          </li>
          <li>
            <picture>
              <source
                media="(min-width: 1440px)"
                srcset="
                  ./img/restaurant/hero/image15-desk-1x.webp 1x,
                  ./img/restaurant/hero/image15-desk-2x.webp 2x
                "
                width="436"
                type="image/webp"
              />
              <source
                media="(min-width: 1440px)"
                srcset="
                  ./img/restaurant/hero/image15-desk-1x.jpg 1x,
                  ./img/restaurant/hero/image15-desk-2x.jpg 2x
                "
                width="436"
                type="image/jpg"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/restaurant/hero/image15-tab-1x.webp 1x,
                  ./img/restaurant/hero/image15-tab-2x.webp 2x
                "
                width="436"
                type="image/webp"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/restaurant/hero/image15-tab-1x.jpg 1x,
                  ./img/restaurant/hero/image15-tab-2x.jpg 2x
                "
                width="436"
                type="image/jpg"
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  ./img/restaurant/hero/image15-mob-1x.webp 1x,
                  ./img/restaurant/hero/image15-mob-2x.webp 2x
                "
                width="250"
                type="image/webp"
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  ./img/restaurant/about/image15-mob-1x.jpg 1x,
                  ./img/restaurant/about/image15-mob-2x.jpg 2x
                "
                width="250"
                type="image/jpg"
              />
              <img
                src="./img/restaurant/hero/image15-mob-1x.jpg"
                alt="About Hotel"
                width="250"
                height="429"
                class="about-img"
              />
            </picture>
          </li> -->
        </ul>
      </div>
      <ul class="slider-button-list reset-list revealator-slideright revealator-delay5 relv-animation">
        <li>
          <button type="button" class="slider-button common-button">
            <svg width="7" height="14" class="slider-button-svg" aria-label="slider button left">
              <use href="./img/icons.svg#arrow-left"></use>
            </svg>
          </button>
        </li>
        <li>
          <button type="button" class="slider-button common-button">
            <svg width="7" height="14" class="slider-button-svg" aria-label="slider button right">
              <use href="./img/icons.svg#arrow-right"></use>
            </svg>
          </button>
        </li>
      </ul>
      <p class="hero-txt reset-paragraph revealator-slideright revealator-delay3 relv-animation">
        Whether you're in the mood for a hearty breakfast, a light lunch, or
        <i>a romantic dinner</i>, our menu has something for everyone.
      </p>
    </div>
  </div>
</section>