<section class="rest-menu section">
    <div class="container rest-menu-content">
        <h2 class="rest-menu-title reset-title">Restautant menu</h2>
        <ul class="rest-menu-list reset-list">
            <li class="rest-menu-item">
                <h3 class="rest-menu-item-title reset-title">Hot meals</h3>
                <ul class="menu-meal-list reset-list">
                    <li class="menu-meal-item">
                        <div class="menu-meal-item-box">
                            <p class="menu-meal-item-data reset-paragraph">Veal borscht with beans</p>
                            <p class="menu-meal-item-data reset-paragraph">400 g</p>
                        </div>
                        <div class="menu-meal-item-box">
                            <p class="menu-meal-item-data reset-paragraph">
                                Veal, potatoes, cabbage, carrots, onions, beans, garlic, tomatoes, greens, sour cream
                            </p>
                            <p class="menu-meal-item-data reset-paragraph">
                                240 UAH
                            </p>
                        </div>
                    </li>
                    <li class="menu-meal-item">
                        <div class="menu-meal-item-box">
                            <p class="menu-meal-item-data reset-paragraph">Cheese soup with chicken</p>
                            <p class="menu-meal-item-data reset-paragraph">400 g</p>
                        </div>
                        <div class="menu-meal-item-box">
                            <p class="menu-meal-item-data reset-paragraph">
                                Chicken, potatoes, carrots, onions, mushrooms, soft cheese, greens
                            </p>
                            <p class="menu-meal-item-data reset-paragraph">
                                200 UAH
                            </p>
                        </div>
                    </li>
                    <li class="menu-meal-item">
                        <div class="menu-meal-item-box">
                            <p class="menu-meal-item-data reset-paragraph">Carbonara pasta</p>
                            <p class="menu-meal-item-data reset-paragraph">400 g</p>
                        </div>
                        <div class="menu-meal-item-box">
                            <p class="menu-meal-item-data reset-paragraph">
                                Tagliatelle pasta, bacon, cream, Parmesan cheese, egg, greens
                            </p>
                            <p class="menu-meal-item-data reset-paragraph">
                                430 UAH
                            </p>
                        </div>
                    </li>
                    <li class="menu-meal-item">
                        <div class="menu-meal-item-box">
                            <p class="menu-meal-item-data reset-paragraph">Pork steak</p>
                            <p class="menu-meal-item-data reset-paragraph">400 g</p>
                        </div>
                        <div class="menu-meal-item-box">
                            <p class="menu-meal-item-data reset-paragraph">
                                Pork tenderloin, spices, served with sweet chili sauce and vegetables
                            </p>
                            <p class="menu-meal-item-data reset-paragraph">
                                500 UAH
                            </p>
                        </div>
                    </li>
                    <li class="menu-meal-item">
                        <div class="menu-meal-item-box">
                            <p class="menu-meal-item-data reset-paragraph">Gorbusha in white wine sauce</p>
                            <p class="menu-meal-item-data reset-paragraph">400 g</p>
                        </div>
                        <div class="menu-meal-item-box">
                            <p class="menu-meal-item-data reset-paragraph">
                                Tender redfish, cream sauce based on white wine
                            </p>
                            <p class="menu-meal-item-data reset-paragraph">
                                400 UAH
                            </p>
                        </div>
                    </li>
                </ul>
            </li>
            <li class="rest-menu-item">
                <h3 class="rest-menu-item-title reset-title">Side dishes and snacks</h3>
                <ul class="menu-meal-list reset-list">
                    <li class="menu-meal-item">
                        <div class="menu-meal-item-box">
                            <p class="menu-meal-item-data reset-paragraph">Baked vegetables</p>
                            <p class="menu-meal-item-data reset-paragraph">200 g</p>
                        </div>
                        <div class="menu-meal-item-box">
                            <p class="menu-meal-item-data reset-paragraph">
                                Zucchini, pepper, tomato, eggplant
                            </p>
                            <p class="menu-meal-item-data reset-paragraph">
                                230 UAH
                            </p>
                        </div>
                    </li>
                    <li class="menu-meal-item">
                        <div class="menu-meal-item-box">
                            <p class="menu-meal-item-data reset-paragraph">French fries</p>
                            <p class="menu-meal-item-data reset-paragraph">150 g</p>
                        </div>
                        <div class="menu-meal-item-box">
                            <p class="menu-meal-item-data reset-paragraph">
                                Potatoes, tomato sauce
                            </p>
                            <p class="menu-meal-item-data reset-paragraph">
                                160 UAH
                            </p>
                        </div>
                    </li>
                    <li class="menu-meal-item">
                        <div class="menu-meal-item-box">
                            <p class="menu-meal-item-data reset-paragraph">Peasant-style potatoes</p>
                            <p class="menu-meal-item-data reset-paragraph">150 g</p>
                        </div>
                        <div class="menu-meal-item-box">
                            <p class="menu-meal-item-data reset-paragraph">
                                Potatoes, spices, spicy sauces
                            </p>
                            <p class="menu-meal-item-data reset-paragraph">
                                160 UAH
                            </p>
                        </div>
                    </li>
                    <li class="menu-meal-item">
                        <div class="menu-meal-item-box">
                            <p class="menu-meal-item-data reset-paragraph">Crisp pickles from the barrel</p>
                            <p class="menu-meal-item-data reset-paragraph">250 g</p>
                        </div>
                        <div class="menu-meal-item-box">
                            <p class="menu-meal-item-data reset-paragraph">
                                Salted cucumber, pickled tomato, sauerkraut, Korean carrot
                            </p>
                            <p class="menu-meal-item-data reset-paragraph">
                                350 UAH
                            </p>
                        </div>
                    </li>
                    <li class="menu-meal-item">
                        <div class="menu-meal-item-box">
                            <p class="menu-meal-item-data reset-paragraph">Chicken wings in honey sauce</p>
                            <p class="menu-meal-item-data reset-paragraph">400 g</p>
                        </div>
                        <div class="menu-meal-item-box">
                            <p class="menu-meal-item-data reset-paragraph">
                                Chicken wings, mustard-honey sauce, served with carrots, celery and blue cheese sauce
                            </p>
                            <p class="menu-meal-item-data reset-paragraph">
                                400 UAH
                            </p>
                        </div>
                    </li>
                </ul>
            </li>
            <li class="rest-menu-item">
                <h3 class="rest-menu-item-title reset-title">Salads</h3>
                <ul class="menu-meal-list reset-list">
                    <li class="menu-meal-item">
                        <div class="menu-meal-item-box">
                            <p class="menu-meal-item-data reset-paragraph">Caesar with chicken</p>
                            <p class="menu-meal-item-data reset-paragraph">230 g</p>
                        </div>
                        <div class="menu-meal-item-box">
                            <p class="menu-meal-item-data reset-paragraph">
                                Chicken fillet, lettuce, cherry tomatoes, Parmesan cheese, croutons, Caesar sauce
                            </p>
                            <p class="menu-meal-item-data reset-paragraph">
                                450 UAH
                            </p>
                        </div>
                    </li>
                    <li class="menu-meal-item">
                        <div class="menu-meal-item-box">
                            <p class="menu-meal-item-data reset-paragraph">Caesar with shrimp</p>
                            <p class="menu-meal-item-data reset-paragraph">230 g</p>
                        </div>
                        <div class="menu-meal-item-box">
                            <p class="menu-meal-item-data reset-paragraph">
                                PTiger shrimp, lettuce, cherry tomatoes, parmesan cheese, croutons, caesar sauce
                            </p>
                            <p class="menu-meal-item-data reset-paragraph">
                                300 UAH
                            </p>
                        </div>
                    </li>
                    <li class="menu-meal-item">
                        <div class="menu-meal-item-box">
                            <p class="menu-meal-item-data reset-paragraph">Greek salad</p>
                            <p class="menu-meal-item-data reset-paragraph">230 g</p>
                        </div>
                        <div class="menu-meal-item-box">
                            <p class="menu-meal-item-data reset-paragraph">
                                Fresh cucumber, tomato, bell pepper, olives, brynza cheese, lettuce, sauce
                            </p>
                            <p class="menu-meal-item-data reset-paragraph">
                                280 UAH
                            </p>
                        </div>
                    </li>
                    <li class="menu-meal-item">
                        <div class="menu-meal-item-box">
                            <p class="menu-meal-item-data reset-paragraph">Meat salad</p>
                            <p class="menu-meal-item-data reset-paragraph">230 g</p>
                        </div>
                        <div class="menu-meal-item-box">
                            <p class="menu-meal-item-data reset-paragraph">
                                Chicken fillet or pork tenderloin, fresh cucumber, tomato, bell pepper, ranch sauce
                            </p>
                            <p class="menu-meal-item-data reset-paragraph">
                                300 UAH
                            </p>
                        </div>
                    </li>
                </ul>
            </li>
            <li class="rest-menu-item">
                <h3 class="rest-menu-item-title reset-title">Desserts</h3>
                <ul class="menu-meal-list reset-list">
                    <li class="menu-meal-item">
                        <div class="menu-meal-item-box">
                            <p class="menu-meal-item-data reset-paragraph">Napoleon cake</p>
                            <p class="menu-meal-item-data reset-paragraph">200 UAH</p>
                        </div>
                    </li>
                    <li class="menu-meal-item">
                        <div class="menu-meal-item-box">
                            <p class="menu-meal-item-data reset-paragraph">Poppy cake</p>
                            <p class="menu-meal-item-data reset-paragraph"> 300 UAH</p>
                        </div>
                    </li>
                    <li class="menu-meal-item">
                        <div class="menu-meal-item-box">
                            <p class="menu-meal-item-data reset-paragraph">Tiramisu</p>
                            <p class="menu-meal-item-data reset-paragraph"> 260 UAH</p>
                        </div>
                    </li>
                </ul>
                <h3 class="rest-menu-item-title reset-title">Drinks</h3>
                <ul class="menu-meal-list reset-list">
                    <li class="menu-meal-item">
                        <div class="menu-meal-item-box">
                            <p class="menu-meal-item-data reset-paragraph">Black/green tea</p>
                            <p class="menu-meal-item-data reset-paragraph"> 100 UAH</p>
                        </div>
                    </li>
                    <li class="menu-meal-item">
                        <div class="menu-meal-item-box">
                            <p class="menu-meal-item-data reset-paragraph">Espresso</p>
                            <p class="menu-meal-item-data reset-paragraph"> 100 UAH</p>
                        </div>
                    </li>
                    <li class="menu-meal-item">
                        <div class="menu-meal-item-box">
                            <p class="menu-meal-item-data reset-paragraph">Cappuccino</p>
                            <p class="menu-meal-item-data reset-paragraph"> 100 UAH</p>
                        </div>
                    </li>
                </ul>
            </li>
        </ul>
        <ul class="rest-menu-remote-list reset-list">
            <li>
                <button class="rest-menu-remote-button">
                    <svg width="36" height="36" viewBox="0 0 36 36" xmlns="http://www.w3.org/2000/svg">
                        <use href="../../img/icons.svg#arrow-left"></use>
                    </svg>
                </button>
            </li>
            <li>
                <button class="rest-menu-remote-button">
                    <svg width="36" height="36" viewBox="0 0 36 36" xmlns="http://www.w3.org/2000/svg">
                        <use href="../../img/icons.svg#arrow-right"></use>
                    </svg>
                </button>
            </li>
        </ul>
        <button class="spec-page-button">book a table</button>
    </div>
</section>