/* =================== section location =================== */
.location-section.section {
  padding-top: 64px;
  padding-bottom: 64px;
}

@media screen and (min-width: 768px) {
  .location-section.section {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

@media screen and (min-width: 1440px) {
  .location-section.section {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.location-title {
  margin: 0;
  margin-bottom: 32px;

  font-size: 40px;
  font-weight: 500;
  line-height: 1;
}

@media screen and (min-width: 768px) {
  .location-title {
    margin-bottom: 40px;

    font-size: 68px;
  }
}

@media screen and (min-width: 1440px) {
  .location-title {
    position: absolute;
    top: 0;
    left: 704px;
    margin: 0;
  }
}

.map-location {
  margin-bottom: 32px;
}

@media screen and (min-width: 1440px) {
  .map-location {
    margin-bottom: 0px;
  }
}

.map-location-ref {
  width: 335px;
  height: 384px;

  box-shadow: -14px 24px 68px rgba(0, 0, 0, 0.12);
}

@media screen and (min-width: 768px) {
  .map-location-ref {
    width: 704px;
    height: 796px;
  }
}

@media screen and (min-width: 1440px) {
  .map-location-ref {
    width: 640px;
    height: 524px;
  }
}

.contact-address-text {
  margin-bottom: 28px;

  font-size: 18px;
  line-height: calc(24 / 18);
  font-style: normal;
}

@media screen and (min-width: 768px) {
  .contact-address {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .contact-address-text {
    margin-bottom: 0px;
  }
}

.contacts-number-text {
  margin-bottom: 12px;

  font-weight: 500;
  font-style: normal;
}

@media screen and (min-width: 1440px) {
  .contact-address {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  .contact-address-text {
    margin-right: 70px;
  }

  .contacts-number {
    display: flex;
  }

  .contacts-number-text {
    margin-right: 12px;
    margin-bottom: 0px;

    font-weight: 700;
  }
}

.number-phone {
  font-style: normal;
}
.our-number {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

@media screen and (min-width: 768px) {
  .number-phone {
    font-size: 18px;
  }

  .our-number {
    gap: 2px;
  }
}

@media screen and (min-width: 1440px) {
  .location-container {
    position: relative;
    display: flex;
  }

  .contact-block {
    margin-top: auto;
    margin-left: 32px;
  }
  .our-number {
    gap: 4px;
  }
}
/* =================== /section location =================== */
