/* =================== section restaurant =================== */
@media screen and (min-width: 1440px) {
  .main-restaurant-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 44px;
    padding-bottom: 447px;
  }
}

.main-restaurant-title {
  margin-bottom: 24px;
  max-width: 239px;

  font-weight: 500;
  font-size: 40px;
  line-height: calc(40 / 40);
}

.main-restaurant-text {
  margin-bottom: 32px;
  max-width: 231px;

  font-weight: 500;
}

@media screen and (min-width: 768px) {
  .main-restaurant-header {
    display: flex;
    align-items: center;
    width: 659px;
    margin-bottom: 80px;
  }

  .main-restaurant-title {
    margin: 0;
    margin-right: 32px;
    max-width: 406px;

    font-size: 68px;
    line-height: calc(68 / 68);
    letter-spacing: -0.02em;
  }

  .main-restaurant-text {
    margin-bottom: 0px;
    padding: 7px 0;
    max-width: 221px;
  }
}

@media screen and (min-width: 1440px) {
  .main-restaurant-header {
    margin-bottom: 0;
  }
}

.main-restaurant-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

@media screen and (min-width: 768px) {
  .main-restaurant-buttons {
    gap: 14px;
  }
}

.main-restaurant-buttons-item {
  padding: 7px 17px;

  font-size: 14px;
  line-height: calc(18 / 14);
  letter-spacing: -0.02em;
  text-transform: uppercase;

  color: var(--common-dark);
  background-color: transparent;
  border: 1px solid currentColor;
  border-radius: 32px;

  transition: background-color var(--transition-function);
}

@media screen and (min-width: 768px) {
  .main-restaurant-buttons-item {
    padding: 7px 23px;

    line-height: calc(24 / 14);
  }
}

@media screen and (min-width: 1440px) {
  .main-restaurant-buttons-item {
    padding: 8px 23px;
    gap: 14px;

    font-size: 18px;
    line-height: calc(24 / 18);
  }
}

.main-restaurant-button {
  padding: 0;

  font-size: 14px;
  line-height: calc(18 / 14);
  letter-spacing: -0.02em;
  text-transform: uppercase;

  color: inherit;
  background-color: inherit;
  border: none;
}

@media screen and (min-width: 768px) {
  .main-restaurant-button {
    line-height: calc(24 / 14);
  }
}

@media screen and (min-width: 1440px) {
  .main-restaurant-button {
    font-size: 18px;
    line-height: calc(24 / 18);
  }
}

.main-restaurant-buttons-item:hover,
.main-restaurant-buttons-item:focus {
  color: var(--light);
  background-color: var(--common-dark);
}

.main-restaurant-slider {
  position: relative;
  padding: 0px 0px;
  display: flex;
  gap: 20px;
  margin-bottom: 24px;
}

@media screen and (min-width: 768px) {
  .main-restaurant-slider {
    gap: 32px;
    margin-bottom: 32px;
  }
}

@media screen and (min-width: 1440px) {
  .main-restaurant-slider {
    position: absolute;
    top: 237px;
    left: 32px;

    overflow: hidden;
  }
}

.main-restaurant-slider-item {
  text-align: center;
}

.main-restaurant-slider-img {
  min-width: 157px;
  height: 201px;
}

@media screen and (min-width: 768px) {
  .main-restaurant-slider-img {
    min-width: 336px;
    height: 309px;
  }
}

@media screen and (min-width: 1440px) {
  .main-restaurant-slider-img {
    min-width: 266px;
  }
}

@media screen and (max-width: 1439px) {
  .main-filter {
    display: none;
  }
}

.main-restaurant-slider-arrows {
  display: flex;
  gap: 20px;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .main-restaurant-slider-arrows {
    gap: 32px;
  }

  .main-restaurant-slider-arrows-icon {
    width: 14px;
    height: 14px;
  }
}

@media screen and (min-width: 1440px) {
  .main-restaurant-slider-arrows {
    position: absolute;
    top: 597px;
    left: calc(50% - 50px);
    margin-bottom: 0px;
  }
}

.main-restaurant-slider-arrows-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
}

@media screen and (min-width: 768px) {
  .main-restaurant-slider-arrows-item {
    width: 36px;
    height: 36px;
  }
}

.main-restaurant-slider-arrows-item:first-child
  .main-restaurant-slider-arrows-icon {
  stroke: var(--common-dark);

  opacity: 0.2;
}
/* =================== /section restaurant =================== */
