      <!-- Sections DOUBLE LUX ROOM--Nik--->
      <section class="double-room container-lux">
        <div class="sec-global">
          <div class="sec-one">
        <h1 class="section-titles">DOUBLE <span class="luxury">LUXURY</span> ROOM</h1>
        <button type="button" class="double-room-button">View prices</button>
        </div>
        <div class="sec-two">
        <div class="slider">
          <div class="slider-line">
            <!------IMG room------->
            <picture>
              <source 
                srcset="
                ./img/room/hero/img-r1des1x.webp 1x,
                ./img/room/hero/img-r1des2x.webp 2x"
              media="(min-width:1200px)"/>
              <source
                srcset="
                ./img/room/hero/img-r1tab1x.webp 1x,
                ./img/room/hero/img-r1tab2x.webp 2x"
              media="(min-width:768px)"/>
              <source 
                srcset="
                ./img/room/hero/img-r1mob1x.webp 1x,
                ./img/room/hero/img-r1mob2x.webp 2x"
              media="(min-width:320px)"/>
            <img src="./img/room/hero/img-r1.webp" class="pick-size" alt="">
            </picture>
  
            <picture>
              <source 
                srcset="
                ./img/room/hero/img-r2des1x.webp 1x,
                ./img/room/hero/img-r2des2x.webp 2x"
              media="(min-width:1200px)"/>
              <source
                srcset="
                ./img/room/hero/img-r2tab1x.webp 1x,
                ./img/room/hero/img-r2tab2x.webp 2x"
              media="(min-width:768px)"/>
              <source 
                srcset="
                ./img/room/hero/img-r2mob1x.webp 1x,
                ./img/room/hero/img-r2mob2x.webp 2x"
              media="(min-width:320px)"/>
              <img src="./img/room/hero/img-r2.webp" class="pick-size" alt="">
            </picture>
            
            <picture>
              <source 
                srcset="
                ./img/room/hero/img-r3des1x.webp 1x,
                ./img/room/hero/img-r3des2x.webp 2x"
              media="(min-width:1200px)"/>
              <source
                srcset="
                ./img/room/hero/img-r3tab1x.webp 1x,
                ./img/room/hero/img-r3tab2x.webp 2x"
              media="(min-width:768px)"/>
              <source 
                srcset="
                ./img/room/hero/img-r3mob1x.webp 1x,
                ./img/room/hero/img-r3mob2x.webp 2x"
              media="(min-width:320px)"/>
              <img src="./img/room/hero/img-r3.webp" class="pick-size" alt="">
            </picture> 
          
          </div>
        </div>
        <div class="control-button">
        <button type="button" class="slider-prev">
          <svg class="controls-buttons">
            <use href="./img/icons.svg#icon-button-prev" width="16" height="32"></use>
          </svg>
        </button>
        <button type="button" class="slider-next" >
          <svg class="controls-buttons">
            <use href="./img/icons.svg#icon-button-next" width="16" height="32"></use>
          </svg>
        </button>
          </div>
        </div>
  
      </div>
        <p class="section-text">The Mimino hotel features spacious and stylish double luxury rooms with modern amenities for a comfortable stay.</p>
      
      </section>
      <!-- ---------END-------NIK------>