<!-- Amenities Section-->

<section class="room-amenities-section section">
  <div class="room-amenities-container container">
    <h2 class="visually-hidden">amenities</h2>
    <ul class="room-amenities-list reset-list">
      <li class="room-amenities-item">
        <h3 class="room-amenities-subtitle reset-title">
          General Amenities &amp; Facilities:
        </h3>
        <ul class="room-amenities-sublist">
          <li class="room-amenities-subitem">24-hour front desk service</li>
          <li class="room-amenities-subitem">Daily housekeeping</li>
          <li class="room-amenities-subitem">
            Free Wi-Fi throughout the hotel
          </li>
          <li class="room-amenities-subitem">Elevator access</li>
          <li class="room-amenities-subitem">Luggage storage</li>
          <li class="room-amenities-subitem">Non-smoking rooms available</li>
          <li class="room-amenities-subitem">
            Meeting rooms for business and events
          </li>
          <li class="room-amenities-subitem">On-site parking (surcharge)</li>
          <li class="room-amenities-subitem">Concierge services</li>
        </ul>
      </li>
      <li class="room-amenities-item">
        <h3 class="room-amenities-subtitle reset-title">Bathroom:</h3>
        <ul class="room-amenities-sublist">
          <li class="room-amenities-subitem">Private bathroom with shower</li>
          <li class="room-amenities-subitem">Complimentary toiletries</li>
          <li class="room-amenities-subitem">Hair dryer</li>
          <li class="room-amenities-subitem">Fresh towels daily</li>
          <li class="room-amenities-subitem">
            Deluxe bathrobes (in some room categories)
          </li>
        </ul>
      </li>
      <li class="room-amenities-item">
        <h3 class="room-amenities-subtitle reset-title">Bedroom:</h3>
        <ul class="room-amenities-sublist">
          <li class="room-amenities-subitem">
            Comfortable beds with high-quality linens
          </li>
          <li class="room-amenities-subitem">Blackout curtains</li>
          <li class="room-amenities-subitem">
            Climate control (air conditioning and heating)
          </li>
          <li class="room-amenities-subitem">Safe for valuables</li>
          <li class="room-amenities-subitem">Writing desk and chair</li>
          <li class="room-amenities-subitem">
            Flat-screen TV with cable channels
          </li>
        </ul>
      </li>
      <li class="room-amenities-item">
        <h3 class="room-amenities-subtitle reset-title">Kitchen:</h3>
        <ul class="room-amenities-sublist">
          <li class="room-amenities-subitem">
            In-room kitchenette (in some room categories)
          </li>
          <li class="room-amenities-subitem">Refrigerator</li>
          <li class="room-amenities-subitem">Microwave</li>
          <li class="room-amenities-subitem">Electric kettle</li>
          <li class="room-amenities-subitem">Cooking utensils and cutlery</li>
          <li class="room-amenities-subitem">Dining table and chairs</li>
        </ul>
      </li>
      <li class="room-amenities-item">
        <h3 class="room-amenities-subtitle reset-title">Media:</h3>
        <ul class="room-amenities-sublist">
          <li class="room-amenities-subitem">
            Flat-screen TV with cable channels
          </li>
          <li class="room-amenities-subitem">High-speed Wi-Fi</li>
          <li class="room-amenities-subitem">iPod docking station</li>
          <li class="room-amenities-subitem">Speaker system</li>
          <li class="room-amenities-subitem">
            Electrical outlets for charging devices.
          </li>
        </ul>
      </li>
    </ul>
    <div class="room-collage-conatiner">
      <ul class="room-amenities-collage reset-list">
        <li class="room-amenities-collage-item">
          <picture>
            <source
              srcset="
                ../../img/room/room-tour/room-collage1-mobile-w207@1x.webp 1x,
                ../../img/room/room-tour/room-collage1-mobile-w207@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              srcset="
                ../../img/room/room-tour/room-collage1-mobile-w207@1x.jpg 1x,
                ../../img/room/room-tour/room-collage1-mobile-w207@2x.jpg 2x
              "
              type="image/jpg"
            />
            <img
              class="room-collage-img common-image"
              src="../../img/room/room-tour/room-collage1-mobile-w207@1x.jpg"
              alt="Lather moisturizer and other Lather cosmetics"
              width="207"
              height="333"
              loading="lazy"
            />
          </picture>
        </li>
        <li class="room-amenities-collage-item">
          <picture>
            <source
              srcset="
                ../../img/room/room-tour/room-collage2-mobile-w259@1x.webp 1x,
                ../../img/room/room-tour/room-collage2-mobile-w259@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              srcset="
                ../../img/room/room-tour/room-collage2-mobile-w259@1x.jpg 1x,
                ../../img/room/room-tour/room-collage2-mobile-w259@2x.jpg 2x
              "
              type="image/jpg"
            />
            <img
              class="room-collage-img common-image"
              src="../../img/room/room-tour/room-collage2-mobile-w259@1x.jpg"
              alt="Rejuvenate in the en-suite bathroom with plush towels and toiletries"
              width="259"
              height="333"
              loading="lazy"
            />
          </picture>
        </li>
      </ul>
    </div>

    <button class="room-amenities-btn common-button" type="button">
      book a room
    </button>
  </div>
</section>
