<section class="section double-room">
    <div class="container">
        <ul class="reset-list double-room-img">
            <li class="room">
                <picture class="common-image">
                    <source media="(min-width: 1440px)" 
                    srcset="./img/hotel/double-lexury-room/room_desk@1x.jpg 1x, ./img/hotel/double-lexury-room/room_desk@2x.jpg 2x" type="image/jpg" />

                    <source media="(min-width: 768px)" srcset="./img/hotel/double-lexury-room/room_tab@1x.jpg 1x, ./img/hotel/double-lexury-room/room_tab@2x.jpg 2x" type="image/jpg" />

                    <source media="(max-width: 768px)" srcset="./img/hotel/double-lexury-room/room_mob@1x.jpg 1x, ./img/hotel/double-lexury-room/room_mob@2x.jpg 2x" type="image/jpg" />

                    <img src="./img/hotel/double-lexury-room/room_mob.jpg" alt="Room" class="common-image" />
                </picture>
            </li>
            <li class="bath">
                <picture class="common-image">
                    <source media="(min-width: 1440px)" srcset="./img/hotel/double-lexury-room/bath_desk@1x.jpg 1x, ./img/hotel/double-lexury-room/bath_desk@2x.jpg 2x" type="image/jpg" />

                    <source media="(min-width: 768px)" srcset="./img/hotel/double-lexury-room/bath_tab@1x.jpg 1x, ./img/hotel/double-lexury-room/bath_tab@2x.jpg 2x" type="image/jpg" />

                    <source media="(max-width: 768px)" srcset="./img/hotel/double-lexury-room/bath_mob@1x.jpg 1x, ./img/hotel/double-lexury-room/bath_mob@2x.jpg 2x" type="image/jpg" />
                    
                    <img src="./img/hotel/double-lexury-room/bath_mob.jpg" alt="Bathroom" class="common-image" />
                </picture>
            </li>
            <li class="kitchen">
                <picture class="common-image">
                    <source media="(min-width: 1440px)" srcset="./img/hotel/double-lexury-room/kitchen_desk@1x.jpg 1x, ./img/hotel/double-lexury-room/kitchen_desk@2x.jpg 2x" type="image/jpg" />

                    <source media="(min-width: 768px)" srcset="./img/hotel/double-lexury-room/kitchen_tab@1x.jpg 1x, ./img/hotel/double-lexury-room/kitchen_tab@2x.jpg 2x" type="image/jpg" />

                    <source media="(max-width: 768px)" srcset="./img/hotel/double-lexury-room/kitchen_mob@1x.jpg 1x, ./img/hotel/double-lexury-room/kitchen_mob@2x.jpg 2x" type="image/jpg" />

                    <img src="./img/hotel/double-lexury-room/kitchen_mob.jpg"  alt="Kitchen" class="common-image" />
                </picture>
            </li>
        </ul>
          <div class="wrap-par">
            <div class="double-par">
              <h2 class="double-title reset-title">Double luxury room</h2>
              <div class="room-par-flex">
                <p class="room-paragraph reset-paragraph">
                  Experience luxury in our Double Luxury Room at Mimino Hotel. This spacious room features a comfortable bed, private bathroom, flat-screen TV, and high-speed Wi-Fi. Climate control, blackout curtains, and soundproofing ensure a peaceful night's sleep.</p>
                <p class="room-paragraph reset-paragraph">Relax after a busy day at the writing desk or armchair. Book now for a convenient and comfortable stay.</p>
              </div>
            </div>
            <ul class="reset-list buttons-double">
              <li>
                <a class="book-button reset-link spec-page-button" href="">More details</a>
              </li>
              <li>
                <a class="book-button reset-link spec-page-button" href="">View prices</a>
              </li>
            </ul>
          </div>
    </div>
</section>