<section class="hotel-room-section section">
  <div class="container">
    <ul class="hotel-room-list">
      <li class="four-seater-item hotel-room-bed">
        <picture>
          <source
            srcset="./img/hotel/four-seater-room/four-bed-1x.webp 1x, ./img/hotel/four-seater-room/four-bed-2x.webp 2x"
            media="(min-width: 1440px)" />
          <source
            srcset="./img/hotel/four-seater-room/four-bed-tab.webp 1x, ./img/hotel/four-seater-room/four-bed-tab-2x.webp 2x"
            media="(min-width: 768px)" />
          <source
            srcset="./img/hotel/four-seater-room/four-bed-mob.webp 1x, ./img/hotel/four-seater-room/four-bed-mob-2x.webp 2x"
            media="(max-width: 767px)" />

          <img class=" animated-image four-seater-img" src="./img/hotel/four-seater-room/four-bed-1x.webp"
            alt="part of bedroom" />
        </picture>
      </li>
      <li class="four-seater-item hotel-room-bath">
        <picture>
          <source
            srcset="./img/hotel/four-seater-room/four-bath-1x.webp 1x, ./img/hotel/four-seater-room/four-bath-2x.webp 2x"
            media="(min-width: 1440px)" />
          <source
            srcset="./img/hotel/four-seater-room/four-bath-tab.webp 1x, ./img/hotel/four-seater-room/four-bath-tab-2x.webp 2x"
            media="(min-width: 768px)" />
          <source
            srcset="./img/hotel/four-seater-room/four-bath-mob.webp 1x,  ./img/hotel/four-seater-room/four-bath-mob-2x.webp 2x"
            media="(max-width: 767px)" />

          <img class=" animated-image" src="./img/hotel/four-seater-room/four-bath-1x.webp"
            alt="bathroom" />
        </picture>
      </li>
      <li class="four-seater-item hotel-room-kitchen">
        <picture>
          <source
            srcset="./img/hotel/four-seater-room/four-kitchen-1x.webp 1x, ./img/hotel/four-seater-room/four-kitchen-2x.webp  2x"
            media="(min-width: 1440px)" />
          <source
            srcset="./img/hotel/four-seater-room/four-kitchen-tab.webp 1x, ./img/hotel/four-seater-room/four-kitchen-tab-2x.webp 2x"
            media="(min-width: 768px)" />
          <source
            srcset="./img/hotel/four-seater-room/four-kitchen-mob.webp 1x, ./img/hotel/four-seater-room/four-kitchen-mob-2x.webp  2x"
            media="(max-width: 767px)" />

          <img class=" animated-image" src="./img/hotel/four-seater-room/four-kitchen-1x.webp"
            alt="green kitchen" />
        </picture>
      </li>
    </ul>

    <div class="description-wrap hotel-room-box">
      <div class="hotel-room-text-title-box hotel-room-title-box">
        <h2 class="hotel-room-title ">four-seater room</h2>
        <div class="hotel-room-text-box">
          <p class="hotel-room-paragraph  hotel-room-paragraph">
            Our 4-person room is perfect for small groups, offering comfort and convenience with 4 comfortable beds,
            ample storage,
            flat-screen TV, mini-fridge, coffee maker, desk and chair, air-conditioning, heating, and soundproof walls.
            Book now for
            a memorable stay.
          </p>
        </div>
      </div>

      <ul class="hotel-room-buttons-list hotel-room-buttons-list ">
        <li class="hotel-room-buttons-item">
          <a class="hotel-room-button  spec-page-button" href="./room.html">More details</a>
        </li>
        <li class="hotel-room-buttons-item">
          <button class="hotel-room-button  spec-page-button" href="#" data-model-window="price">View
            prices</button>
        </li>
      </ul>
    </div>
  </div>
</section>