<section class="four-seater-section section">
  <div class="container">
    <ul class="reset-list four-seater-list">
      <li class="four-seater-item four-seater-bed"> 
        <picture class="common-image four-seater-img">
          <source srcset="../img/hotel/four-seater-room/four-bed-1x.webp 1x, ../img/hotel/four-seater-room/four-bed-2x.webp 2x" media="(min-width: 1440px)" /> 
          <source srcset="../img/hotel/four-seater-room/four-bed-tab.webp 1x, ../img/hotel/four-seater-room/four-bed-tab-2x.webp 2x" media="(min-width: 768px)" />
          <source srcset="../img/hotel/four-seater-room/four-bed-mob.webp 1x, ../img/hotel/four-seater-room/four-bed-mob-2x.webp 2x" media="(max-width: 767px)"/>

          <img src="../img/hotel/four-seater-room/four-bed-1x.webp" alt="part of bedroom"/>
        </picture>
      </li>
      <li class="four-seater-item four-seater-bath">
        <picture class="common-image">
          <source srcset="../img/hotel/four-seater-room/four-bath-1x.webp 1x, ../img/hotel/four-seater-room/four-bath-2x.webp 2x" media="(min-width: 1440px)" /> 
          <source srcset="../img/hotel/four-seater-room/four-bath-tab.webp 1x, ../img/hotel/four-seater-room/four-bath-tab-2x.webp 2x" media="(min-width: 768px)" />
          <source srcset="../img/hotel/four-seater-room/four-bath-mob.webp 1x,  ../img/hotel/four-seater-room/four-bath-mob-2x.webp 2x" media="(max-width: 767px)"/>

          <img src="../img/hotel/four-seater-room/four-bath-1x.webp" alt="bathroom" />
        </picture>
      </li>
      <li class="four-seater-item four-seater-kitchen">
        <picture class="common-image">
          <source srcset="../img/hotel/four-seater-room/four-kitchen-1x.webp 1x, ../img/hotel/four-seater-room/four-kitchen-2x.webp  2x" media="(min-width: 1440px)" /> 
          <source srcset="../img/hotel/four-seater-room/four-kitchen-tab.webp 1x, ../img/hotel/four-seater-room/four-kitchen-tab-2x.webp 2x" media="(min-width: 768px)" />
          <source srcset="../img/hotel/four-seater-room/four-kitchen-mob.webp 1x, ../img/hotel/four-seater-room/four-kitchen-mob-2x.webp  2x" media="(max-width: 767px)"/>

          <img src="../img/hotel/four-seater-room/four-kitchen-1x.webp" alt="green kitchen" />
        </picture>
      </li>
    </ul>
    <div class="description-wrap">
    <div class="four-seater-description">
    <h2 class="room-title">Four-seater room</h2>
    <div class="room-subtitle-wrap">
      <p class="room-subtitle reset-paragraph">Our 4-person room is perfect for small groups, offering comfort and convenience with 4 comfortable beds, ample storage, flat-screen TV, mini-fridge, coffee maker, desk and chair, air-conditioning, heating, and soundproof walls. Book now for a memorable stay.</p>
    </div>
    </div>
    <ul class="reset-list buttons-list">
      <li class="buttons-list-item">
        <a class="room-button reset-link" href="#">More details</a>
      </li>
      <li class="buttons-list-item">
        <a class="room-button reset-link" href="#">View prices</a>
      </li>
    </ul>
    </div>
  </div>
</section>