<section class="section hotel-hero-section">
    <div class="container">
        <div class="hero-flex">
            <div class="title-button">
                <h1 class="hotel-title">Hotel</h1>
                <ul class="button-flex reset-list">
                    <li><button type="button" class="button-hero common-button" data-model-window="room">Book a
                            room</button></li>
                    <li><button type="button" class="button-hero common-button" data-model-window="price">View
                            prices</button></li>
                </ul>
            </div>
            <ul class="hotel-photo-flex reset-list">
                <li>
                    <picture class="common-image">
                        <source media="(min-width: 1440px)"
                            srcset="./img/hotel/hero/hotel1_desk@1x.jpg 1x, ./img/hotel/hero/hotel1_desk@2x.jpg 2x"
                            type="image/jpg">
                        <source media="(min-width: 768px)"
                            srcset="./img/hotel/hero/hotel1_tab@1x.jpg 1x, ./img/hotel/hero/hotel1_tab@2x.jpg 2x"
                            type="image/jpg">
                        <source media="(max-width: 767px)"
                            srcset="./img/hotel/hero/hotel1_mob@1x.jpg 1x, ./img/hotel/hero/hotel1_mob@2x.jpg 2x"
                            type="image/jpg">
                        <img src="./img/hotel/hero/hotel1_desk.jpg" alt="Mimino hotel">
                    </picture>
                </li>
                <li>
                    <picture class="common-image">
                        <source media="(min-width: 1440px)"
                            srcset="./img/hotel/hero/hotel2_desk@1x.jpg 1x, ./img/hotel/hero/hotel2_desk@2x.jpg 2x"
                            type="image/jpg">
                        <source media="(min-width: 768px)"
                            srcset="./img/hotel/hero/hotel2_tab@1x.jpg 1x, ./img/hotel/hero/hotel2_tab@2x.jpg 2x"
                            type="image/jpg">
                        <source media="(max-width: 767px)"
                            srcset="./img/hotel/hero/hotel2_mob@1x.jpg 1x, ./img/hotel/hero/hotel2_mob@2x.jpg 2x"
                            type="image/jpg">
                        <img src="./img/hotel/hero/hotel2_desk.jpg" alt="Mimino hotel">
                    </picture>
                </li>
                <li>
                    <picture class="common-image">
                        <source media="(min-width: 1440px)"
                            srcset="./img/hotel/hero/hotel3_desk@1x.jpg 1x, ./img/hotel/hero/hotel3_desk@2x.jpg 2x"
                            type="image/jpg">
                        <source media="(min-width: 768px)"
                            srcset="./img/hotel/hero/hotel3_tab@1x.jpg 1x, ./img/hotel/hero/hotel3_tab@2x.jpg 2x"
                            type="image/jpg">
                        <source media="(max-width: 767px)"
                            srcset="./img/hotel/hero/hotel3_mob@1x.jpg 1x, ./img/hotel/hero/hotel3_mob@2x.jpg 2x"
                            type="image/jpg">
                        <img src="./img/hotel/hero/hotel3_desk.jpg" alt="Mimino hotel">
                    </picture>
                </li>
            </ul>
        </div>
        <div class="arrow-par">
            <ul class="slider-arrows reset-list">
                <li>
                    <button type="button" class="slider-buttons">
                        <svg class="arrow-button" width="7" height="14">
                            <use href="../../img/icons.svg#arrow-left"></use>
                        </svg>
                    </button>
                </li>
                <li>
                    <button type="button" class="slider-buttons common-button">
                        <svg class="arrow-button common-button" width="7" height="14">
                            <use href="../../img/icons.svg#arrow-right"></use>
                        </svg>
                    </button>
                </li>
            </ul>
            <p class="reset-paragraph hotel-hero-par">Whether you're in the mood for a hearty breakfast, a light lunch,
                or <i>a romantic dinner</i>, our menu has something for everyone.</p>
        </div>
    </div>
</section>