    <section class="triple-room-section section">
  <div class="container">
    <ul class="reset-list triple-room-list">
      <li class="triple-room-item triple-bed"> 
        <picture class="common-image triple-room-img">
          <source srcset="./img/hotel/triple-room/triple-bed-1x.webp 1x, ./img/hotel/triple-room/triple-bed-2x.webp 2x" media="(min-width: 1440px)" /> 
          <source srcset="../img/hotel/triple-room/triple-bed-tab-1x.webp 1x, ../img/hotel/triple-room/triple-bed-tab-2x.webp 2x" media="(min-width: 768px)" />
          <source srcset="./img/hotel/triple-room/triple-bed-mob.webp 1x,  ./img/hotel/triple-room/triple-bed-mob-2x.webp 2x" media="(max-width: 767px)"/>

          <img src="./img/hotel/triple-room/Triple-bed-1x.webp" alt="part of bedroom"/>
        </picture>
      </li>
      <li class="triple-room-item triple-bath">
        <picture class="common-image">
          <source srcset="./img/hotel/triple-room/triple-bath-1x.webp 1x, ./img/hotel/triple-room/triple-bath-2x.webp 2x" media="(min-width: 1440px)" /> 
          <source srcset="../img/hotel/triple-room/triple-bath-tab-1x.webp 1x, ../img/hotel/triple-room/triple-bath-tab-2x.webp 2x" media="(min-width: 768px)" />
          <source srcset="./img/hotel/triple-room/triple-bath-mob.webp 1x,  ./img/hotel/triple-room/triple-bath-mob-2x.webp 2x" media="(max-width: 767px)"/>

          <img src="./img/hotel/triple-room/triple-bath-1x.webp" alt="bathroom" />
        </picture>
      </li>
      <li class="triple-room-item triple-kitchen">
        <picture class="common-image">
          <source srcset="./img/hotel/triple-room/triple-kitchen-1x.webp 1x, ./img/hotel/triple-room/triple-kitchen-2x.webp  2x" media="(min-width: 1440px)" /> 
          <source srcset="../img/hotel/triple-room/triple-kitchen-tab-1x.webp 1x, ../img/hotel/triple-room/triple-kitchen-tab-2x.webp 2x" media="(min-width: 768px)" />
          <source srcset="./img/hotel/triple-room/triple-kitchen-mob.webp 1x, ./img/hotel/triple-room/triple-kitchen-mob-2x.webp  2x" media="(max-width: 767px)"/>

          <img src="./img/hotel/triple-room/triple-kitchen-1x.webp" alt="green kitchen" />
        </picture>
      </li>
    </ul>
    <div class="description-wrap">
    <div class="triple-room-description">
    <h2 class="room-title">Triple room</h2>
    <div class="room-subtitle-wrap">
      <p class="room-subtitle reset-paragraph">Escape to our spacious Triple Room, perfect for families or groups. Enjoy comfort with three beds, seating area, stunning views, flat-screen TVs, Wi-Fi, and mini-fridge.</p>
      <p class="room-subtitle reset-paragraph">Rejuvenate in the en-suite bathroom with plush towels and toiletries. Book now for a memorable stay.</p>
    </div>
    </div>
    <ul class="reset-list buttons-list">
      <li class="buttons-list-item">
        <a class="room-button reset-link" href="#">More details</a>
      </li>
      <li class="buttons-list-item">
        <a class="room-button reset-link" href="#">View prices</a>
      </li>
    </ul>
    </div>
  </div>
</section>