<footer class="section-footer ">
        <div class="footer-container container">
        <div id="footer-line">
            <h2><a class="footer-logo link" href="./home.html">MIMINO</a></h2>
        <div class="footer-box">
            <p class="footer-description">RESTAURANT-HOTEL COMPLEX</p>
                </div>
            </div>
        </div>
    
<!----socials-footer---------->
        <div class="socials-footer">
            <ul class="socials-footer-list">
                <li class="socials-footer-items">
                    <a class="socials-footer-link link" href="https://www.instagram.com/" aria-label="Instagram"
                        rel="noopener noreferrer nofollow" target="_blank">
                        <svg class="social-icon-footer" width="24" height="24">
                            <use href="./img/icons.svg#icon-instagram"></use>
                        </svg>
                    </a>
                </li>
                <li class="socials-footer-items">
                    <a class="socials-footer-link link" 
                    href="https://www.facebook.com/" aria-label="Facebook" rel="noopener noreferrer"
                    rel="noopener noreferrer nofollow" target="_blank">
                        <svg class="social-icon-footer" width="24" height="24">
                            <use href="./img/icons.svg#icon-facebook"></use>
                        </svg>
                    </a>
                </li>
                <li class="socials-footer-items">
                    <a class="socials-footer-link link" href="https://www.twitter.com/" aria-label="Twitter"
                        rel="noopener noreferrer nofollow" target="_blank">
                        <svg class="social-icon-footer" width="24" height="24">
                            <use href="./img/icons.svg#icon-twitter"></use>
                        </svg>
                    </a>
                </li>
            </ul>
            <hr>
        </div>
</footer>