<header class="page-header-mobile">
    <div class="header-mob-container container">
        <button type="button" class="mobile-menu js-open-menu" aria-expanded="false" aria-controls="mobile-menu">
            <svg class="mobile-menu-icon" width="28" height="28">
                <use href="./images/icons.svg#menu-mobile"></use>
            </svg>
        </button>

        <div class="mobile-menu-open js-menu-container" id="mobile-menu">
            <div class="mobile-menu-container">
                <div class="mobile-content">
                    <button type="button" class="mobile-menu-close js-close-menu">
                        <svg class="mobile-menu-close-icon" width="28" height="28">
                            <use href="./images/icons.svg#modal-icon"></use>
                        </svg>
                    </button>


                    <ul class="site-nav-mobile list">
                        <li class="mobile-nav-item">
                            <a class="header-mobile-link" href="./home.html">Home</a>
                        </li>
                        <li class="mobile-nav-item">
                            <a class="header-mobile-link" href="">Hotel</a>
                        </li>
                        <li class="mobile-nav-item">
                            <a class="header-mobile-link" href="">Restaurant</a>
                        </li>
                    </ul>
                    <div class="socials-mob-header">
                        <ul class="socials-mob-header-list">
                            <li class="socials-mob-header-items">
                                <a class="socials-mob-header-link link" href="https://www.instagram.com/"
                                    aria-label="Instagram" rel="noopener noreferrer nofollow" target="_blank">
                                    <svg class="social-mob-icon-footer" width="20" height="20">
                                        <use href="../img/icons.svg#icon-instagram"></use>
                                    </svg>
                                </a>
                            </li>
                            <li class="socials-mob-footer-items">
                                <a class="socials-mob-footer-link link" href="https://www.facebook.com/"
                                    aria-label="Facebook" rel="noopener noreferrer" rel="noopener noreferrer nofollow"
                                    target="_blank">
                                    <svg class="social-mob-icon-footer" width="20" height="20">
                                        <use href="../img/icons.svg#icon-facebook"></use>
                                    </svg>
                                </a>
                            </li>
                            <li class="socials-mob-footer-items">
                                <a class="socials-mob-footer-link link" href="https://www.twitter.com/"
                                    aria-label="Twitter" rel="noopener noreferrer nofollow" target="_blank">
                                    <svg class="social-mob-icon-footer" width="24" height="24">
                                        <use href="../img/icons.svg#icon-twitter"></use>
                                    </svg>
                                </a>
                            </li>
                        </ul>
                        <hr>
                    </div>


                    </li>
                    </ul>
                </div>
                <script src="./js/mobile-menu.js"></script>
</header>