<header class="header">
    <div class="container header-container header-container-main-page">
        <button class="header-menu-button common-button" type="button" data-model-button='mobile_open'>
            <svg width="28" height="28" viewBox="0 0 28 28" xmlns="http://www.w3.org/2000/svg">
                <use href="./img/icons.svg#menu-button"></use>
            </svg>
        </button>
        <nav class="header-navigation">
            <ul class="header-navigation-list reset-list">
                <li class="header-navigation-item">
                    <a class="header-navigation-link reset-link" href="./">home</a>
                </li>
                <li class="header-navigation-item">
                    <a class="header-navigation-link reset-link current" href="./hotel.html">hotel</a>
                </li>
                <li class="header-navigation-item">
                    <a class="header-navigation-link reset-link" href="./restaurant.html">restaurant</a>
                </li>
            </ul>
        </nav>

        <a class="header-logo reset-link" href="./">
            <span class="header-logo-name">mimino</span>
            <span class="header-logo-sub-name">restaurant-hotel complex</span>
        </a>

        <ul class="header-media-list reset-list">
            <li class="header-media-item">
                <a class="header-media-link reset-link" href="https://www.instagram.com/" aria-label="Instagram"
                    rel="noopener noreferrer nofollow" target="_blank">
                    <svg class="social-icon-header" width="20" height="20">
                        <use href="./img/icons.svg#icon-instagram"></use>
                    </svg>
                </a>
            </li>
            <li class="header-media-item">
                <a class="header-media-link reset-link" href="https://www.facebook.com/" aria-label="Facebook"
                    rel="noopener noreferrer" rel="noopener noreferrer nofollow" target="_blank">
                    <svg class="social-icon-header" width="20" height="20">
                        <use href="./img/icons.svg#icon-facebook"></use>
                    </svg>

                </a>
            </li>
            <li class="header-media-item">
                <a class="header-media-link reset-link" href="https://www.twitter.com/" aria-label="Twitter"
                    rel="noopener noreferrer nofollow" target="_blank">
                    <svg class="social-icon-header" width="20" height="20">
                        <use href="./img/icons.svg#icon-twitter"></use>
                    </svg>
                </a>
            </li>
        </ul>
    </div>
</header>