<header class="page-header">
    <div class="header-container container">
        <ul class="nav-main link">
            <li class="header-link" href="./home.html">Home
            </li>
            <li class="header-link" href="./hotel.html">Hotel

            </li>
            <li class="header-link" href="./restaurant.html">Restaurant
                <div class="header-box">
                    <h2><a class="header-logo link" href="./home.html">MIMINO</a></h2>

                    <p class="header-description">RESTAURANT-HOTEL COMPLEX</p>
                </div>

                <div class="socials-header">
                    <ul class="socials-header-list">
                        <li class="socials-header-items">
                            <a class="socials-header-link link" href="https://www.instagram.com/" aria-label="Instagram"
                                rel="noopener noreferrer nofollow" target="_blank">
                                <svg class="social-icon-footer" width="24" height="24">
                                    <use href="../img/icons.svg#icon-instagram"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="socials-footer-items">
                            <a class="socials-footer-link link" href="https://www.facebook.com/" aria-label="Facebook"
                                rel="noopener noreferrer" rel="noopener noreferrer nofollow" target="_blank">
                                <svg class="social-icon-footer" width="24" height="24">
                                    <use href="../img/icons.svg#icon-facebook"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="socials-footer-items">
                            <a class="socials-footer-link link" href="https://www.twitter.com/" aria-label="Twitter"
                                rel="noopener noreferrer nofollow" target="_blank">
                                <svg class="social-icon-footer" width="24" height="24">
                                    <use href="../img/icons.svg#icon-twitter"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                    <hr>
                </div>


            </li>
        </ul>
    </div>
</header>