<!--<header class="page-header">
    <div class="header-container container">
        <ul class="nav-main link">
            <li class="header-link" href="./home.html">Home
            </li>
            <li class="header-link" href="./hotel.html">Hotel

            </li>
            <li class="header-link" href="./restaurant.html">Restaurant
                <div class="header-box">
                    <h2><a class="header-logo link" href="./home.html">MIMINO</a></h2>

                    <p class="header-description">RESTAURANT-HOTEL COMPLEX</p>
                </div>

                <div class="socials-header">
                    <ul class="socials-header-list">
                        <li class="socials-header-items">
                            <a class="socials-header-link link" href="https://www.instagram.com/" aria-label="Instagram"
                                rel="noopener noreferrer nofollow" target="_blank">
                                <svg class="social-icon-footer" width="24" height="24">
                                    <use href="../img/icons.svg#icon-instagram"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="socials-footer-items">
                            <a class="socials-footer-link link" href="https://www.facebook.com/" aria-label="Facebook"
                                rel="noopener noreferrer" rel="noopener noreferrer nofollow" target="_blank">
                                <svg class="social-icon-footer" width="24" height="24">
                                    <use href="../img/icons.svg#icon-facebook"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="socials-footer-items">
                            <a class="socials-footer-link link" href="https://www.twitter.com/" aria-label="Twitter"
                                rel="noopener noreferrer nofollow" target="_blank">
                                <svg class="social-icon-footer" width="24" height="24">
                                    <use href="../img/icons.svg#icon-twitter"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                    <hr>
                </div>


            </li>
        </ul>
    </div>
</header>-->
<header class="page-header-mobile">
    <div class="header-mob-container container">
        <button type="button" class="mobile-menu js-open-menu" aria-expanded="false" aria-controls="mobile-menu">
            <svg class="mobile-menu-icon" width="28" height="28">
                <use href="../img/icons.svg#icon-menu-03-1"></use>
            </svg>
        </button>

        <div class="mobile-menu-open js-menu-container" id="mobile-menu">
            <div class="mobile-menu-container">
                <div class="mobile-content">
                    <button type="button" class="mobile-menu-close js-close-menu">
                        <svg class="mobile-menu-close-icon" width="8" height="8">
                            <use href="../img/icons.svg#icon-close"></use>
                        </svg>
                    </button>
<!---------------------------------------->
                    <ul class="site-nav-mobile list">
                        <li class="mobile-nav-item">
                            <a class="header-mobile-link" href="./home.html">Home</a>
                        </li>
                        <li class="mobile-nav-item">
                            <a class="header-mobile-link" href="./hotel.html">Hotel</a>
                        </li>
                        <li class="mobile-nav-item">
                            <a class="header-mobile-link" href="./restaurant.html">Restaurant</a>
                        </li>
                    </ul>
                    <div class="socials-mob-header">
                        <ul class="socials-mob-header-list">
                            <li class="socials-mob-header-items">
                                <a class="socials-mob-header-link link" href="https://www.instagram.com/"
                                    aria-label="Instagram" rel="noopener noreferrer nofollow" target="_blank">
                                    <svg class="social-mob-icon-footer" width="20" height="20">
                                        <use href="../img/icons.svg#icon-instagram"></use>
                                    </svg>
                                </a>
                            </li>
                            <li class="socials-mob-footer-items">
                                <a class="socials-mob-footer-link link" href="https://www.facebook.com/"
                                    aria-label="Facebook" rel="noopener noreferrer" rel="noopener noreferrer nofollow"
                                    target="_blank">
                                    <svg class="social-mob-icon-footer" width="20" height="20">
                                        <use href="../img/icons.svg#icon-facebook"></use>
                                    </svg>
                                </a>
                            </li>
                            <li class="socials-mob-footer-items">
                                <a class="socials-mob-footer-link link" href="https://www.twitter.com/"
                                    aria-label="Twitter" rel="noopener noreferrer nofollow" target="_blank">
                                    <svg class="social-mob-icon-footer" width="24" height="24">
                                        <use href="../img/icons.svg#icon-twitter"></use>
                                    </svg>
                                </a>
                            </li>
                        </ul>
                        <hr>
                    </div>


                    </li>
                    </ul>
                </div>
                <script src="./js/mobile-menu.js"></script>
</header>