<div class="menu-container js-menu-container" id="mobile-menu">
  <button class="menu-button-close js-close-menu">
    <svg class="button-close-icon" width="8" height="8">
      <use href="../img/icons.svg#icon-close"></use>
    </svg>
  </button>
  <nav class="nav-wrp">
    <ul class="site-nav-mobile list">
      <li>
        <a href="../index.html" class="nav-link link">Home</a>
      </li>
      <li>
        <a href="../hotel.html" class="nav-link link">Hotel</a>
      </li>
      <li>
        <a href="../restaurant.html" class="nav-link link">Restaurant</a>
      </li>
    </ul>
  </nav>
</div>