<div class="menu-container js-menu-container" id="mobile-menu">
  <button class="menu-button-close js-close-menu" data-model-button='mobile_close'>
    <svg class="button-close-icon" width="20" height="20">
      <use href="./img/icons.svg#icon-close"></use>
    </svg>
  </button>

  <div class="header-mob">
    <a class="reset-link" href="./">
      <div class="logo-mob-wrp">
        <h2 class="logo-mob-title">Mimino</h2>
        <p class="logo-mob-discr">restaurant-hotel complex</p>
      </div>
    </a>
  </div>

  <nav class="nav-wrp">
    <ul class="site-nav-mob reset-list">
      <li class="site-nav-mob-item">
        <a href="./" class="nav-mob-link reset-link">Home</a>
      </li>
      <li class="site-nav-mob-item">
        <a href="./hotel.html" class="nav-mob-link reset-link">Hotel</a>
      </li>
      <li class="site-nav-mob-item">
        <a href="./restaurant.html" class="nav-mob-link reset-link">Restaurant</a>
      </li>
    </ul>
  </nav>

  <ul class="social-mob-list reset-list">
    <li class="social-mob-list-item">
      <a class="social-mob-list-link reset-link" href="https://instagram.com" aria-label="Instagram" target="_blank"
        rel="noopener noreferrer">
        <svg class="social-mob-icon" width="24" height="24">
          <use href="./img/icons.svg#instagram"></use>
        </svg>
      </a>
    </li>
    <li class="social-mob-list-item">
      <a class="social-mob-list-link reset-link" href="https://facebook.com" aria-label="Facebook" target="_blank"
        rel="noopener noreferrer">
        <svg class="social-mob-icon" width="24" height="24">
          <use href="./img/icons.svg#facebook"></use>
        </svg>
      </a>
    </li>
    <li class="social-mob-list-item">
      <a class="social-mob-list-link reset-link" href="https://twitter.com" aria-label="Twitter" target="_blank"
        rel="noopener noreferrer">
        <svg class="social-mob-icon" width="24" height="24">
          <use href="./img/icons.svg#twitter"></use>
        </svg>
      </a>
    </li>
  </ul>
</div>