<div class="backdrop is-hidden" data-modal data-modal-window="room">
  <div class="modal modal-room">
    <button class="modal-button-close" type="button" data-modal-close data-modal-button="close_room">
      <svg class="button-close-icon" width="14" height="14">
        <use href="./img/icons.svg#icon-close"></use>
      </svg>
    </button>

    <h2 class="modal-title">Book <i>а room</i></h2>

    <form class="book-form" name="book_form">
      <div class="book-form-wrp">
        <div class="book-form-field-wrp">
          <input class="book-form-field" placeholder="Your name" type="text" pattern="^[A-Za-zА-Яа-яЁёЇїІіЄєҐґ\s]+$"
            title="Letters only" name="client_name" id="client_name" required />
          <label class="book-form-label" for="client_name">Who should book a table for?</label>
        </div>

        <div class="book-form-field-wrp">
          <input class="book-form-field" placeholder="+ 38 ()" type="tel" pattern="^[0-9]+$" title="Numbers only"
            name="phone_number" id="phone_number" required />
          <label class="book-form-label" for="phone_number">Phone number</label>
        </div>

        <div class="book-form-field-wrp">
          <div class="select">
            <select class="book-form-select" name="date-in" id="date-in" required>
              <option selected value="Today">Today</option>
              <option value="Tomorrow">Tomorrow</option>
              <option value="Day after tomorrow">Day after tomorrow</option>
            </select>
          </div>
          <label class="book-form-label" for="date-in">Check-in date</label>
        </div>
        <div class="book-form-field-wrp">
          <div class="select">
            <input class="book-form-field" type="date" value="2023-03-09" title="Only number and dots" name="date-out"
              id="date-out" required />
          </div>
          <label class="book-form-label" for="date-out">Check-out date</label>
        </div>
        <div class="book-form-field-wrp">
          <div class="select">
            <select class="book-form-select" name="category" id="category" required>
              <option selected value="Doble suite">Doble suite</option>
              <option value="Single suite">Single suite</option>
            </select>
          </div>

          <label class="book-form-label" for="category">Number category</label>
        </div>
      </div>
      <button class="book-form-button " type="submit">
        Make a reservation
      </button>
    </form>
  </div>
</div>