<div class="backdrop is-hidden" data-modal>
  <div class="modal modal-price">
    <button class="modal-button-close" type="button" data-modal-close>
      <svg class="button-close-icon" width="14" height="14">
        <use href="./img/icons.svg#icon-close"></use>
      </svg>
    </button>

    <h1 class="modal-title">Prices per <i>Room</i></h1>

    <h2 class="modal-subtitle">double suite</h2>

    <form class="book-form" name="book_form">
      <div class="book-form-wrp">
        <div class="book-form-field-wrp">
          <select class="book-form-select" name="nights" id="nights" required>
            <option selected value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
          </select>

          <label class="book-form-label" for="nights">Number of nights</label>
        </div>

        <div class="book-form-field-wrp">
          <input
            class="book-form-field"
            placeholder="1000"
            type="text"
            name="price"
            id="price"
            required
          />
          <label class="book-form-label" for="price">UAH</label>
        </div>
      </div>
      <button class="book-form-button common-button" type="submit">
        Make a reservation
      </button>
    </form>
  </div>
</div>
