#anchor-up {
  position: fixed;
  bottom: 10%;
  right: 5%;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 20px;

  border: 2px solid rgba(30, 30, 30, 0.5);
  color: var(--common-light);

  border-radius: 10px;

  font-weight: bold;

  opacity: 1;

  transition-property: color, border, opacity, background-color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);

  z-index: 5;

  pointer-events: all;
}

#anchor-up:hover,
#anchor-up:focus {
  background-color: rgba(30, 30, 30, 1);
}

#anchor-up.hidden {
  opacity: 0;
  pointer-events: none;
}
