.footer {
  border-bottom: 1px solid var(--common-dark-30);

  padding-top: 24px;
  padding-bottom: 32px;

  /* margin-bottom: 32px; */
}

@media screen and (min-width: 768px) {
  .footer {
    padding-top: 32px;
    padding-bottom: 32px;

    /* margin-bottom: 48px; */
  }
}

@media screen and (min-width: 1440px) {
  .footer {
    padding-top: 44px;
    padding-bottom: 80px;

    /* margin-bottom: 80px; */
  }
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-navigation {
  display: none;
}

@media screen and (min-width: 1440px) {
  .footer-navigation {
    display: block;
  }
}

.footer-navigation-list {
  display: flex;
  gap: 32px;
}

.footer-navigation-link {
  position: relative;
}

.footer-navigation-link::after {
  content: '';
  display: block;

  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);

  width: 0;
  height: 4px;

  background-color: currentColor;

  border-radius: 10px;

  transition-property: width;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}

.footer-navigation-link:hover::after {
  width: 100%;
}

.footer-logo {
  display: flex;
  flex-direction: column;

  gap: 3px;
}

@media screen and (min-width: 1440px) {
  .footer-logo {
    text-align: center;
  }
}

.footer-logo-name {
  font-weight: 500;
  font-size: 14px;

  line-height: calc(22 / 14);
  letter-spacing: 0.18em;
}

@media screen and (min-width: 768px) {
  .footer-logo-name {
    font-size: 20px;
    line-height: calc(24 / 20);
  }
}

.footer-logo-sub-name {
  font-size: 6px;

  line-height: calc(8 / 6);
  letter-spacing: 0.18em;
}

@media screen and (min-width: 768px) {
  .footer-logo-sub-name {
    font-size: 8px;
    line-height: calc(10 / 8);
  }
}

.footer-media-list {
  display: none;
}

@media screen and (min-width: 768px) {
  .footer-media-list {
    display: flex;
    align-items: center;
    gap: 2px;
  }
}

@media screen and (min-width: 1440px) {
  .footer-media-list {
    gap: 2px;
  }
}

.footer-media-link,
.footer-main-page-media-link {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 5px;

  border: 2px solid transparent;

  border-radius: 5px;

  fill: currentColor;
  transition-property: border;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}

.footer-main-page-media-link {
  color: var(--common-light);
}

.footer-main-page-media-link:hover,
.footer-main-page-media-link:focus,
.footer-media-link:hover,
.footer-media-link:focus {
  border-color: currentColor;
}
