.header{
  border-bottom: 0.5px solid rgba(18, 18, 18, 0.3);
  background: #fff;
}

.header-container {
  display: flex;
  align-items: center;


  padding-top: 20px;
  padding-bottom: 20px;

}

@media screen and (min-width: 768px) {
  .header-container {
    justify-content: space-between;
  }
}

.header-main-page {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);

  z-index: 999;

  width: 100%;

  background-color: transparent;
  color: var(--common-light);
  
  border-bottom: 0.5px solid rgba(247, 247, 247, 0.2);
}

.header-main-page .container{
  margin-bottom: 0;
}

.header-navigation {
  display: none;
}

@media screen and (min-width: 1440px) {
  .header-navigation {
    display: block;
  }
}

.header-navigation-list {
  display: flex;
  gap: 32px;
}

.header-navigation-link.current {
  position: relative;
}

.header-navigation-link.current::before {
  content: '';
  display: block;

  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);

  width: 4px;
  height: 4px;

  background-color: currentColor;

  border-radius: 100%;
}

.header-navigation-link {
  position: relative;
}

.header-menu-button {
  background-color: transparent;
  stroke: currentColor;
  border: none;
}

@media screen and (min-width: 1440px) {
  .header-menu-button {
    display: none;
  }
}

.header-logo {
  display: flex;
  flex-direction: column;

  gap: 3px;

  margin-left: 82px;

  text-align: center;
}

@media screen and (min-width: 768px) {
  .header-logo {
    margin-left: 0;
  }
}

@media screen and (min-width: 1440px) {
  .header-logo {
    margin-right: 90px;
  }
}

.header-logo-name {
  font-weight: 500;
  font-size: 14px;

  line-height: calc(22 / 14);
  letter-spacing: 0.18em;
}

@media screen and (min-width: 768px) {
  .header-logo-name {
    font-size: 20px;
    line-height: calc(24 / 20);
  }
}

.header-logo-sub-name {
  font-size: 6px;

  line-height: calc(8 / 6);
  letter-spacing: 0.18em;
}

@media screen and (min-width: 768px) {
  .header-logo-sub-name {
    font-size: 8px;
    line-height: calc(10 / 8);
  }
}

.header-media-list {
  display: none;
}

@media screen and (min-width: 768px) {
  .header-media-list {
    display: flex;
    align-items: center;
    gap: 16px;
  }
}

@media screen and (min-width: 1440px) {
  .header-media-list {
    gap: 18px;
  }
}

.header-main-page-media-link {
  color: var(--common-light);
}

.header-media-link,
.header-main-page-media-link {
  fill: currentColor;
  transition-property: color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}

.header-main-page-media-link:hover,
.header-main-page-media-link:focus {
  color: var(--common-dark-30);
}

.header-media-link:hover,
.header-media-link:focus {
  color: var(--common-dark-30);
}
