/* Reset styles */
.reset-title,
.reset-paragraph {
  margin-top: 0;
  margin-bottom: 0;
}

.reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.reset-link {
  color: currentColor;
  text-decoration: none;
}
