<!-- Pege-home__about -->

<section class="section section-home-page_about">
    <div class="container">
        <h1 class="section-page-home-about-title_one">About a complex</h1>
        <div class="section-page-home-about-head_wrapper">
            <div class="section-page-home-about_relative">
                <ul class="section-page-home-about_list reset-list revealator-fade relv-animation">
                    <li class="section-page-home-about-list_item ">
                        <picture>
                            <source
                                srcset="./img/home/about/home-about-desktop.webp 1x, ./img/home/about/home-about-desktop@2x.webp 2x"
                                media="(min-width: 1200px)" type="image/webp">
                            <source
                                srcset="./img/home/about/home-about-desktop.jpg 1x, ./img/home/about/home-about-desktop@2x.jpg 2x"
                                media="(min-width: 1200px)">
                            <source
                                srcset="./img/home/about/home-about-tablet.webp 1x, ./img/home/about/home-about-tablet@2x.webp 2x"
                                media="(min-width: 768px)" type="image/webp">
                            <source
                                srcset="./img/home/about/home-about-tablet.jpg 1x, ./img/home/about/home-about-tablet@2x.jpg 2x"
                                media="(min-width: 768px)">
                            <source
                                srcset="./img/home/about/home-about-mobile.webp 1x, ./img/home/about/home-about-mobile@2x.webp 2x"
                                media="(max-width: 767px)" type="image/webp">
                            <source
                                srcset="./img/home/about/home-about-mobile.jpg 1x, ./img/home/about/home-about-mobile@2x.jpg 2x"
                                media="(max-width: 767px)">
                            <img class="section-page-home-about_image" src="./img/home/about/home-about-mobile.jpg"
                                alt="room-see-two-chairs">
                        </picture>
                    </li>
                    <li class="section-page-home-about-list-item">
                        <picture>
                            <source
                                srcset="./img/home/about/home-about-bathroom-desktop.webp 1x, ./img/home/about/home-about-bathroom-desktop@2x.webp 2x"
                                media="(min-width: 1200px)" type="image/webp">
                            <source
                                srcset="./img/home/about/home-about-bathroom-desktop.jpg 1x, ./img/home/about/home-about-bathroom-desktop@2x.jpg 2x"
                                media="(min-width: 1200px)">
                            <source
                                srcset="./img/home/about/home-about-bathroom-tablet.webp 1x, ./img/home/about/home-about-bathroom-tablet@2x.webp 2x"
                                media="(min-width: 768px)" type="image/webp">
                            <source
                                srcset="./img/home/about/home-about-bathroom-tablet.jpg 1x, ./img/home/about/home-about-bathroom-tablet@2x.jpg 2x"
                                media="(min-width: 768px)">
                            <source
                                srcset="./img/home/about/home-about-bathroom-mobile.webp 1x, ./img/home/about/home-about-bathroom-mobile@2x.webp 2x"
                                media="(max-width: 767px)" type="image/webp">
                            <source
                                srcset="./img/home/about/home-about-bathroom-mobile.jpg 1x, ./img/home/about/home-about-bathroom-mobile@2x.jpg 2x"
                                media="(max-width: 767px)">
                            <img class="section-page-home-about-image_two"
                                src="./img/home/about/home-about-bathroom-mobile.jpg" alt="bathroom-see-bath">
                        </picture>
                    </li>
                </ul>

                <div class="review-home_about">
                    <img class="review-home-about_img" src="./img/home/about/home-about-reviews-one.png" alt="women">
                    <ul class="review-home-about_text reset-list">
                        <li class="review-home-about_name">Maria</li>
                        <li class="review-home-about_rating">give rating<span class="review-home-about_number">
                                4.5</span>
                        </li>
                    </ul>
                </div>
            </div>


            <div class="section-page-home-about-wrapper_text">
                <h2 class="section-page-home-about-title_two">restaurant-hotel complex</h2>
                <ul class="section-page-home-about_text reset-list">
                    <li>Indulge in a taste of luxury with every bite at Hotel Mimino. From the freshest seafood to the
                        most
                        succulent steaks,
                        every dish is crafted with care to ensure that you enjoy a truly memorable dining experience.
                    </li>
                    <li>Treat yourself to a taste of the good life and come dine with us today!</li>
                </ul>
            </div>
        </div>

        <div class="section-page-home-about-secondery_wrapper">
            <div class="section-page-home-about-relative_two revealator-fade relv-animation">
                <picture>
                    <source
                        srcset="./img/home/about/home-about-restaurant-desktop.webp 1x, ./img/home/about/home-about-restaurant-desktop@2x.webp 2x"
                        media="(min-width: 1200px)" type="image/webp">
                    <source
                        srcset="./img/home/about/home-about-restaurant-desktop.jpg 1x, ./img/home/about/home-about-restaurant-desktop@2x.jpg 2x"
                        media="(min-width: 1200px)">
                    <source
                        srcset="./img/home/about/home-about-restaurant-tablet.webp 1x, ./img/home/about/home-about-restaurant-tablet@2x.webp 2x"
                        media="(min-width: 768px)" type="image/webp">
                    <source
                        srcset="./img/home/about/home-about-restaurant-tablet.jpg 1x, ./img/home/about/home-about-restaurant-tablet@2x.jpg 2x"
                        media="(min-width: 768px)">
                    <source
                        srcset="./img/home/about/home-about-restaurant-mobile.webp 1x, ./img/home/about/home-about-restaurant-mobile@2x.webp 2x"
                        media="(max-width: 767px)" type="image/webp">
                    <source
                        srcset="./img/home/about/home-about-restaurant-mobile.jpg 1x, ./img/home/about/home-about-restaurant-mobile@2x.jpg 2x"
                        media="(max-width: 767px)">
                    <img class="section-page-home-about-image_three"
                        src="./img/home/about/img_home-about-restaurant-mobile.jpg"
                        alt="restaurant-one-see-two-glasses">
                </picture>

                <div class="review-home-about_two">
                    <img class="review-home-about_img" src="./img/home/about/home-about-reviews-two.png" alt="men">
                    <ul class="review-home-about_text reset-list">
                        <li class="review-home-about_name">Alexander</li>
                        <li class="review-home-about_rating">give rating<span class="review-home-about_number">
                                5.5</span>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="section-page-home-about-wrapper_tablet revealator-fade relv-animation">
                <div class="section-page-home-about-wrapper-tablet_two">
                    <h2 class="section-page-home-about-title_two">business class hotel</h2>
                    <p class="section-page-home-about_text section-page-home-about-text_two">
                        The Mimino hotel features spacious
                        and
                        stylish double luxury rooms
                        with modern amenities for a
                        comfortable stay.</p>
                </div>

                <div class="ection-page-home-about-wrapper-tablet_three revealator-fade relv-animation">
                    <picture>
                        <source
                            srcset="./img/home/about/home-about-recreation-room-desktop.webp 1x, ./img/home/about/home-about-recreation-room-desktop@2x.webp 2x"
                            media="(min-width: 1200px)" type="image/webp">
                        <source
                            srcset="./img/home/about/home-about-recreation-room-desktop.jpg 1x, ./img/home/about/home-about-recreation-room-desktop@2x.jpg 2x"
                            media="(min-width: 1200px)">
                        <source
                            srcset="./img/home/about/home-about-recreation-room-tablet.webp 1x, ./img/home/about/home-about-recreation-room-tablet@2x.webp 2x"
                            media="(min-width: 768px)" type="image/webp">
                        <source
                            srcset="./img/home/about/home-about-recreation-room-tablet.jpg 1x, ./img/home/about/home-about-recreation-room-tablet@2x.jpg 2x"
                            media="(min-width: 768px)">
                        <source
                            srcset="./img/home/about/home-about-recreation-room-mobile.webp 1x, ./img/home/about/home-about-recreation-room-mobile@2x.webp 2x"
                            media="(max-width: 767px)" type="image/webp">
                        <source
                            srcset="./img/home/about/home-about-recreation-room-mobile.jpg 1x, ./img/home/about/home-about-recreation-room-mobile@2x.jpg 2x"
                            media="(max-width: 767px)">
                        <img class="section-page-home-about-image_four"
                            src="./img/home/about/home-about-recreation-room-mobile.jpg" alt="recreation-room">
                    </picture>
                </div>
            </div>
        </div>
    </div>
</section>