<!-- Pege-home__about -->

<section class="section">

    <div class="container">

        <h1>About a complex</h1>


        <ul class="section-page-home-about_list">
            <li class="section-page-home-about-list_item">

                <img src="/src/img/home/about/img_home-about-one.jpg" alt="">

            </li>

            <li class="section-page-home-about_list_item"><img src="" alt=""></li>
        </ul>

        <div>
            <img src="" alt="">
            <ul>

                <li>Maria</li>
                <li>give rating<span>4.5</span></li>
            </ul>



        </div>

        <h2>restaurant-hotel complex</h2>

        <ul>
            <li>Indulge in a taste of luxury with every bite at Hotel Mimino. From the freshest seafood to the most
                succulent steaks,
                every dish is crafted with care to ensure that you enjoy a truly memorable dining experience.</li>
            <li>Treat yourself to a taste of the good life and come dine with us today!</li>
        </ul>

    </div>

</section>





<section class="section">

    <img src="" alt="">

    <div>
        <img src="" alt="">
        <ul>

            <li>Alexander</li>
            <li>give rating<span>5.5</span></li>
        </ul>


        <h2>business class hotel</h2>
        <ul>
            <li>The Mimino hotel features spacious and stylish double luxury rooms with modern amenities for a
                comfortable stay.</li>
        </ul>

        <img src="" alt="">

</section>