<!-- Pege-home__about -->

<section class="section">

    <div class="container">

        <h1 class="section-page-home-about-title_one">About a complex</h1>

        <div class="section-page-home-about_relative">

            <ul class="section-page-home-about_list reset-list">
                <li class="section-page-home-about-list_item ">


                    <img class="section-page-home-about_image" src="../../img/home/about/hero-about-desktop.jpg" alt="">



                </li>

                <li class="section-page-home-about-list-item">
                    <img class="section-page-home-about-image_two"
                        src="../../img/home/about/img_home-about-moile-two.jpg" alt="">

                </li>
            </ul>

            <div class="review-home_about">

                <img class="review-home-about_img" src="../../img/home/about/img_home-about-reviews_one.jpg" alt="">
                <ul class="review-home-about_text reset-list">
                    <li class="review-home-about_name">Maria</li>
                    <li class="review-home-about_rating">give rating<span class="review-home-about_number"> 4.5</span>
                    </li>
                </ul>


            </div>
        </div>




        <h2 class="section-page-home-about-title_two">restaurant-hotel complex</h2>

        <ul class="section-page-home-about_text reset-list">
            <li>Indulge in a taste of luxury with every bite at Hotel Mimino. From the freshest seafood to the most
                succulent steaks,
                every dish is crafted with care to ensure that you enjoy a truly memorable dining experience.</li>
            <li>Treat yourself to a taste of the good life and come dine with us today!</li>
        </ul>


        <div class="section-page-home-about-relative_two">

            <img class="section-page-home-about-image_three" src="../../img/home/about/img_home-about-desctop-three.jpg"
                alt="">



            <div class="review-home-about_two">
                <img class="review-home-about_img" src="../../img/home/about/img_home-about-reviews_one.jpg" alt="">
                <ul class="review-home-about_text reset-list">
                    <li class="review-home-about_name">Alexander</li>
                    <li class="review-home-about_rating">give rating<span class="review-home-about_number"> 5.5</span>
                    </li>
                </ul>
            </div>

        </div>

        <div class="borin">
            <div class="borin-one">
                <h2 class="section-page-home-about-title_two">business class hotel</h2>
                <p class="section-page-home-about_text section-page-home-about-text_two">
                    The Mimino hotel features spacious
                    and
                    stylish double luxury rooms
                    with modern amenities for a
                    comfortable stay.</p>
            </div>


            <div class="borin-three">
                <img class="section-page-home-about-image_four"
                    src="../../img/home/about/img_home-about-desctop-four.jpg" alt="">
            </div>
        </div>
    </div>



</section>