<section class="hero-section">
  <div class="container hero-container">
    <h1 class="hero-title section-title">Mimino</h1>
    <ul class="hero-button-list">
      <li>
        <button
          class="hero-btn spec-page-button backdrop_button"
          type="button"
          data-model-window="table"
        >
          book a table
        </button>
      </li>
      <li>
        <button
          class="hero-btn spec-page-button backdrop_button"
          type="button"
          data-model-window="room"
        >
          book a room
        </button>
      </li>
    </ul>
    <ul
      class="hero-txt-list"
    >
      <li class="item">
        <p class="hero-txt">
          Whether you're in the mood for a hearty breakfast, a light lunch, or
          <i>a romantic dinner</i>, our menu has something for everyone.
        </p>
      </li>
      <li class="item">
        <p class="hero-txt">
          At Hotel Mimino, <i>we believe</i> that great food should be available
          to everyone, no matter the time of day.
        </p>
      </li>
    </ul>
  </div>
</section>
