<section class="home-hero-section">
  <div class="home-hero-container">
    <div class="container">
      <div class="home-hero-wrapper">
        <h1 class="home-hero-title section-title reset-title revealator-slideright relv-animation">Mimino</h1>
        <ul class="home-hero-button-list reset-list revealator-slideleft relv-animation">
          <li>
            <button class="home-hero-btn spec-page-button common-button" type="button">
              book a table
            </button>
          </li>
          <li>
            <button class="home-hero-btn spec-page-button common-button" type="button">
              book a room
            </button>
          </li>
        </ul>
        <ul class="home-hero-txt-list reset-list">
          <li class="item">
            <p class="home-hero-txt reset-paragraph">
              Whether you're in the mood for a hearty breakfast, a light lunch,
              or
              <i>a romantic dinner</i>, our menu has something for everyone.
            </p>
          </li>
          <li class="item">
            <p class="home-hero-txt reset-paragraph">
              At Hotel Mimino, <i>we believe</i> that great food should be
              available to everyone, no matter the time of day.
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>