<section class="section home-hotel-sec">
    <div class="container home-hotel-container">
        <div class="home-hotel-description">
            <h2 class="reset-title hotel-title home-hotel-title">Hotel</h2>
            <p class="reset-paragraph hotel-paragraph">Book your stay with us now and experience the epitome of comfort
                and luxury at our hotel. We guarantee you'll be thrilled with your decision.</p>
        </div>

        <div class="home-hotel-set-img">
            <div class="home-hotel-img-center revealator-fade revealator-delay1 relv-animation">
                <picture>
                    <source media="(min-width: 1440px)" srcset="./img/home/hotel/image.desctop-2@1x.jpg 1x,
                    ./img/home/hotel/image.desctop-2@2x.jpg 2x" type="image/jpg">
                    <source media="(min-width: 768px)" srcset="./img/home/hotel/image.tablet-2@1x.jpg 1x,
                    ./img/home/hotel/image.tablet-2@2x.jpg 2x" type="image/jpg">
                    <source media="(max-width: 767px)" srcset="./img/home/hotel/image.mob-1@1x.jpg 1x,
                    ./img/home/hotel/image.mob-1@2x.jpg 2x" type="image/jpg">


                    <img class="common-image animated-image animated-image" src="./img/home/hotel/image.mob-1@1x.jpg"
                        alt="" loading="lazy">
                </picture>
            </div>
            <div class="home-hotel-img-left revealator-fade revealator-delay2 relv-animation">
                <picture>
                    <source media="(min-width: 1440px)" srcset="./img/home/hotel/image.desctop-1@1x.jpg 1x,
                    ./img/home/hotel/image.desctop-1@2x.jpg 2x" type="image/jpg">
                    <source media="(min-width: 768px)" srcset="./img/home/hotel/image.tablet-1@1x.jpg 1x,
                    ./img/home/hotel/image.tablet-1@2x.jpg 2x" type="image/jpg">
                    <source media="(max-width: 767px)" srcset="./img/home/hotel/image.mob-2@1x.jpg 1x,
                    ./img/home/hotel/image.mob-2@2x.jpg 2x" type="image/jpg">

                    <img class="common-image animated-image" src="./img/home/hotel/image.mob-2@1x.jpg" alt=""
                        loading="lazy">
                </picture>
                <picture>
                    <source media="(min-width: 1440px)" srcset="./img/home/hotel/image.desctop-4@1x.jpg 1x,
                    ./img/home/hotel/image.desctop-4@2x.jpg 2x" type="image/jpg">
                    <source media="(min-width: 768px)" srcset="./img/home/hotel/image.tablet-4@1x.jpg 1x,
                    ./img/home/hotel/image.tablet-4@2x.jpg 2x" type="image/jpg">
                    <source media="(max-width: 767px)" srcset="./img/home/hotel/image.mob-3@1x.jpg 1x,
                    ./img/home/hotel/image.mob-3@2x.jpg 2x" type="image/jpg">


                    <img class="common-image animated-image" src="./img/home/hotel/image.mob-3@1x.jpg" alt=""
                        loading="lazy">
                </picture>
            </div>
            <div class="home-hotel-img-right revealator-fade relv-animation">
                <picture>
                    <source media="(min-width: 1440px)" srcset="./img/home/hotel/image.desctop-3@1x.jpg 1x,
                    ./img/home/hotel/image.desctop-3@2x.jpg 2x" type="image/jpg">
                    <source media="(min-width: 768px)" srcset="./img/home/hotel/image.tablet-3@1x.jpg 1x,
                    ./img/home/hotel/image.tablet-3@2x.jpg 2x" type="image/jpg">

                    <img class="common-image animated-image" src="./img/home/hotel/image.tablet-4@1x.jpg" alt="">
                </picture>
                <picture>
                    <source media="(min-width: 1440px)" srcset="./img/home/hotel/image.desctop-5@1x.jpg 1x,
                    ./img/home/hotel/image.desctop-5@2x.jpg 2x" type="image/jpg">
                    <source media="(min-width: 768px)" srcset="./img/home/hotel/image.tablet-5@1x.jpg 1x,
                    ./img/home/hotel/image.tablet-5@2x.jpg 2x" type="image/jpg">


                    <img class="common-image animated-image" src="./img/home/hotel/image.tablet-5@1x.jpg" alt="">
                </picture>
            </div>
        </div>
        <div class="sliders-home-hotel">
            <ul class="slider-arrows reset-list home-hotel-slider-btn-list">
                <li>
                    <button type="button" class="slider-buttons home-hotel-slider-btn">
                        <svg class="arrow-button slider-icon-hotel" width="7" height="14">
                            <use href="../../img/icons.svg#arrow-left"></use>
                        </svg>
                    </button>
                </li>
                <li>
                    <button type="button" class="slider-buttons common-button home-hotel-slider-btn">
                        <svg class="arrow-button slider-icon-hotel" width="7" height="14">
                            <use href="../../img/icons.svg#arrow-right"></use>
                        </svg>
                    </button>
                </li>
            </ul>
        </div>
        <ul class="reset-list home-hotel-btn-list">
            <li>
                <button class="spec-page-button common-button hotel-btn backdrop_button" type="button"
                    data-model-window="room">Book a
                    room</button>
            </li>
            <li>
                <a class="spec-page-button common-button hotel-btn reset-link" href="./room.html">View room</a>
            </li>
        </ul>
    </div>
</section>