<section class="section location-section">
    <div class="container location-container">
    <h2 class="reset-titel section-titel location-titel">location</h2>
    <div class="map-location">
        <a class="location-link" href="https://goo.gl/maps/VLFibf7k49snZUpJ8" target="_blank" rel="noreferrer noopener">
           <picture>
              
            <source media="(min-width: 1440px)" 
            srcset="../../img/home/location/webp.desctop@1x.webp 1x,
            ../../img/home/location/webp.desctop@2x.webp 2x" 
            type="image/webp">
            <source media="(min-width: 1440px)" 
            srcset="../../img/home/location/desctop@1x.jpg 1x,
            ../../img/home/location/desctop@2x.jpg 2x" 
            type="image/jpg">
            
            <source media="(min-width: 768px)" 
            srcset="../../img/home/location/webp.tablet@1x.webp 1x,
            ../../img/home/location/webp.tablet@2x.webp 2x" 
            type="image/webp">
            <source media="(min-width: 768px)" 
            srcset="../../img/home/location/tablet@1x.jpg 1x,
            ../../img/home/location/tablet@2x.jpg 2x" 
            type="image/jpg">
            
            <source media="(max-width: 767px)" 
            srcset="../../img/home/location/webp.phone@1x.webp 1x,
            ../../img/home/location/webp.phone@2x.webp 2x" 
            type="image/webp">
            <source media="(max-width: 767px)" 
            srcset="../../img/home/location/phone@1x.jpg 1x,
            ../../img/home/location/phone@2x.jpg 2x" 
            type="image/jpg">
          
            <img class="common-image location-img" 
            src="../../img/home/location/phone@1x.jpg" 
            alt="map" 
            loading="lazy">
           </picture>
            <svg class="location-icons" width="27.5px" height="34px">
                <use href="../../img/home/location/icons/map-label.svg#icon-map-label"></use>
            </svg>
        </a>
    </div>
    <div class="contact-block">
        <address class="address">
            <p class="reset-paragraph">Ukraine, Poltava, <br>
                St. Marshal Biryuzov, 15</p>
        </address>
        <address class="contacts">
            <p class="reset-paragraph">call us:</p>
            <div class="our-number">
                <a class="reset-link number-phone" href="tel:+380955559533">(095) 555 95 33</a>
                <a class="reset-link number-phone" href="tel:+380668491089">(066) 849 10 89</a>
            </div>
        </address>
    </div>
</div>
</section>