<!-- restaurant section -->
      <section class="restaurant section">
        <div class="restaurant-container container">
          <div class="restaurant-header">
            <h2 class="restaurant-title reset-title">Restaurant</h2>
            <p class="restaurant-text reset-paragraph"
              >Relax and unwind with our delicious offerings, available any time
              of day.</p
            >
          </div>
          <div class="main-restaurant-slider">
            <div class="main-restaurant-slider-item">
              <picture>
                <source
                  srcset="
                    ./img/restaurant/sl-rest-img1-des@1x.webp 1x,
                    ./img/restaurant/sl-rest-img1-des@2x.webp 2x
                  "
                  media="(min-width: 1440px)"
                  type="image/webp"
                  width="266"
                />
                <source
                  srcset="
                    ./img/restaurant/sl-rest-img1-des@1x.jpg 1x,
                    ./img/restaurant/sl-rest-img1-des@2x.jpg 2x
                  "
                  media="(min-width: 1440px)"
                  type="image/jpg"
                  width="266"
                />
                <source
                  srcset="
                    ./img/restaurant/sl-rest-img1-tab@1x.webp 1x,
                    ./img/restaurant/sl-rest-img1-tab@2x.webp 2x
                  "
                  media="(min-width: 768px)"
                  type="image/webp"
                  width="366"
                />
                <source
                  srcset="
                    ./img/restaurant/sl-rest-img1-tab@1x.jpg 1x,
                    ./img/restaurant/sl-rest-img1-tab@2x.jpg 2x
                  "
                  media="(min-width: 768px)"
                  type="image/jpg"
                  width="366"
                />
                <source
                  srcset="
                    ./img/restaurant/sl-rest-img1-mob@1x.webp 1x,
                    ./img/restaurant/sl-rest-img1-mob@2x.webp 2x
                  "
                  type="image/webp"
                  width="157"
                />
                <source
                  srcset="
                    ./img/restaurant/sl-rest-img1-mob@1x.jpg 1x,
                    ./img/restaurant/sl-rest-img1-mob@2x.jpg 2x
                  "
                  type="image/jpg"
                  width="157"
                />
                <img
                  class="main-restaurant-slider-img common-image"
                  src="./img/restaurant/sl-rest-img1-mob@1x.jpg"
                  alt="a plate with pasta and glasses on the table"
                  width="157"
                  loading="lazy"
                />
              </picture>
            </div>
            <div class="main-restaurant-slider-item">
              <picture>
                <source
                  srcset="
                    ./img/restaurant/sl-rest-img2-des@1x.webp 1x,
                    ./img/restaurant/sl-rest-img2-des@2x.webp 2x
                  "
                  media="(min-width: 1440px)"
                  type="image/webp"
                  width="266"
                />
                <source
                  srcset="
                    ./img/restaurant/sl-rest-img2-des@1x.jpg 1x,
                    ./img/restaurant/sl-rest-img2-des@2x.jpg 2x
                  "
                  media="(min-width: 1440px)"
                  type="image/jpg"
                  width="266"
                />
                <source
                  srcset="
                    ./img/restaurant/sl-rest-img2-des@1x.webp 1x,
                    ./img/restaurant/sl-rest-img2-des@2x.webp 2x
                  "
                  media="(min-width: 768px)"
                  type="image/webp"
                  width="366"
                />
                <source
                  srcset="
                    ./img/restaurant/sl-rest-img2-des@1x.jpg 1x,
                    ./img/restaurant/sl-rest-img2-des@2x.jpg 2x
                  "
                  media="(min-width: 768px)"
                  type="image/jpg"
                  width="366"
                />
                <source
                  srcset="
                    ./img/restaurant/sl-rest-img2-des@1x.webp 1x,
                    ./img/restaurant/sl-rest-img2-des@2x.webp 2x
                  "
                  type="image/webp"
                  width="157"
                />
                <source
                  srcset="
                    ./img/restaurant/sl-rest-img2-des@1x.jpg 1x,
                    ./img/restaurant/sl-rest-img2-des@2x.jpg 2x
                  "
                  type="image/jpg"
                  width="157"
                />
                <img
                  class="main-restaurant-slider-img common-image"
                  src="./img/restaurant/sl-rest-img2-des@1x.jpg"
                  alt="a satisfied girl eats at the table"
                  width="157"
                  loading="lazy"
                />
              </picture>
            </div>
            <div class="main-restaurant-slider-item">
              <picture>
                <source
                  srcset="
                    ./img/restaurant/sl-rest-img3-des@1x.webp 1x,
                    ./img/restaurant/sl-rest-img3-des@2x.webp 2x
                  "
                  media="(min-width: 1440px)"
                  type="image/webp"
                  width="266"
                />
                <source
                  srcset="
                    ./img/restaurant/sl-rest-img3-des@1x.jpg 1x,
                    ./img/restaurant/sl-rest-img3-des@2x.jpg 2x
                  "
                  media="(min-width: 1440px)"
                  type="image/jpg"
                  width="266"
                />
                <source
                  srcset="
                    ./img/restaurant/sl-rest-img3-des@1x.webp 1x,
                    ./img/restaurant/sl-rest-img3-des@2x.webp 2x
                  "
                  media="(min-width: 768px)"
                  type="image/webp"
                  width="366"
                />
                <source
                  srcset="
                    ./img/restaurant/sl-rest-img3-des@1x.jpg 1x,
                    ./img/restaurant/sl-rest-img3-des@2x.jpg 2x
                  "
                  media="(min-width: 768px)"
                  type="image/jpg"
                  width="366"
                />
                <source
                  srcset="
                    ./img/restaurant/sl-rest-img3-des@1x.webp 1x,
                    ./img/restaurant/sl-rest-img3-des@2x.webp 2x
                  "
                  type="image/webp"
                  width="157"
                />
                <source
                  srcset="
                    ./img/restaurant/sl-rest-img3-des@1x.jpg 1x,
                    ./img/restaurant/sl-rest-img3-des@2x.jpg 2x
                  "
                  type="image/jpg"
                  width="157"
                />
                <img
                  class="main-restaurant-slider-img common-image"
                  src="./img/restaurant/sl-rest-img3-des@1x.jpg"
                  alt="baked roll with salmon and greens"
                  width="157"
                  loading="lazy"
                />
              </picture>
            </div>
            <div class="main-restaurant-slider-item">
              <picture>
                <source
                  srcset="
                    ./img/restaurant/sl-rest-img4-des@1x.webp 1x,
                    ./img/restaurant/sl-rest-img4-des@2x.webp 2x
                  "
                  media="(min-width: 1440px)"
                  type="image/webp"
                  width="266"
                />
                <source
                  srcset="
                    ./img/restaurant/sl-rest-img4-des@1x.jpg 1x,
                    ./img/restaurant/sl-rest-img4-des@2x.jpg 2x
                  "
                  media="(min-width: 1440px)"
                  type="image/jpg"
                  width="266"
                />
                <source
                  srcset="
                    ./img/restaurant/sl-rest-img4-tab@1x.webp 1x,
                    ./img/restaurant/sl-rest-img4-tab@2x.webp 2x
                  "
                  media="(min-width: 768px)"
                  type="image/webp"
                  width="366"
                />
                <source
                  srcset="
                    ./img/restaurant/sl-rest-img4-tab@1x.jpg 1x,
                    ./img/restaurant/sl-rest-img4-tab@2x.jpg 2x
                  "
                  media="(min-width: 768px)"
                  type="image/jpg"
                  width="366"
                />
                <source
                  srcset="
                    ./img/restaurant/sl-rest-img4-mob@1x.webp 1x,
                    ./img/restaurant/sl-rest-img4-mob@2x.webp 2x
                  "
                  type="image/webp"
                  width="157"
                />
                <source
                  srcset="
                    ./img/restaurant/sl-rest-img4-mob@1x.jpg 1x,
                    ./img/restaurant/sl-rest-img4-mob@2x.jpg 2x
                  "
                  type="image/jpg"
                  width="157"
                />
                <img
                  class="main-restaurant-slider-img common-image"
                  src="./img/restaurant/sl-rest-img4-mob@1x.jpg"
                  alt="a glass of martini with olives and a sprig of greens"
                  width="157"
                  loading="lazy"
                />
              </picture>
            </div>
            <div class="main-restaurant-slider-item">
              <picture>
                <source
                  srcset="
                    ./img/restaurant/sl-rest-img5-des@1x.webp 1x,
                    ./img/restaurant/sl-rest-img5-des@2x.webp 2x
                  "
                  media="(min-width: 1440px)"
                  type="image/webp"
                  width="266"
                />
                <source
                  srcset="
                    ./img/restaurant/sl-rest-img5-des@1x.jpg 1x,
                    ./img/restaurant/sl-rest-img5-des@2x.jpg 2x
                  "
                  media="(min-width: 1440px)"
                  type="image/jpg"
                  width="266"
                />
                <source
                  srcset="
                    ./img/restaurant/sl-rest-img5-des@1x.webp 1x,
                    ./img/restaurant/sl-rest-img5-des@2x.webp 2x
                  "
                  media="(min-width: 768px)"
                  type="image/webp"
                  width="366"
                />
                <source
                  srcset="
                    ./img/restaurant/sl-rest-img5-des@1x.jpg 1x,
                    ./img/restaurant/sl-rest-img5-des@2x.jpg 2x
                  "
                  media="(min-width: 768px)"
                  type="image/jpg"
                  width="366"
                />
                <source
                  srcset="
                    ./img/restaurant/sl-rest-img5-des@1x.webp 1x,
                    ./img/restaurant/sl-rest-img5-des@2x.webp 2x
                  "
                  type="image/webp"
                  width="157"
                />
                <source
                  srcset="
                    ./img/restaurant/sl-rest-img5-des@1x.jpg 1x,
                    ./img/restaurant/sl-rest-img5-des@2x.jpg 2x
                  "
                  type="image/jpg"
                  width="157"
                />
                <img
                  class="main-restaurant-slider-img common-image"
                  src="./img/restaurant/sl-rest-img5-des@1x.jpg"
                  alt="salad with asparagus on a plate"
                  width="157"
                  loading="lazy"
                />
              </picture>
            </div>
            <div class="main-restaurant-slider-item">
              <picture>
                <source
                  srcset="
                    ./img/restaurant/sl-rest-img6-des@1x.webp 1x,
                    ./img/restaurant/sl-rest-img6-des@2x.webp 2x
                  "
                  media="(min-width: 1440px)"
                  type="image/webp"
                  width="266"
                />
                <source
                  srcset="
                    ./img/restaurant/sl-rest-img6-des@1x.jpg 1x,
                    ./img/restaurant/sl-rest-img6-des@2x.jpg 2x
                  "
                  media="(min-width: 1440px)"
                  type="image/jpg"
                  width="266"
                />
                <source
                  srcset="
                    ./img/restaurant/sl-rest-img6-tab@1x.webp 1x,
                    ./img/restaurant/sl-rest-img6-tab@2x.webp 2x
                  "
                  media="(min-width: 768px)"
                  type="image/webp"
                  width="366"
                />
                <source
                  srcset="
                    ./img/restaurant/sl-rest-img6-tab@1x.jpg 1x,
                    ./img/restaurant/sl-rest-img6-tab@2x.jpg 2x
                  "
                  media="(min-width: 768px)"
                  type="image/jpg"
                  width="366"
                />
                <source
                  srcset="
                    ./img/restaurant/sl-rest-img6-mob@1x.webp 1x,
                    ./img/restaurant/sl-rest-img6-mob@2x.webp 2x
                  "
                  type="image/webp"
                  width="157"
                />
                <source
                  srcset="
                    ./img/restaurant/sl-rest-img6-mob@1x.jpg 1x,
                    ./img/restaurant/sl-rest-img6-mob@2x.jpg 2x
                  "
                  type="image/jpg"
                  width="157"
                />
                <img
                  class="main-restaurant-slider-img common-image"
                  src="./img/restaurant/sl-rest-img6-mob@1x.jpg"
                  alt="a plate with pasta and glasses on the table"
                  width="157"
                  loading="lazy"
                />
              </picture>
            </div>
            <div class="main-restaurant-slider-item">
              <picture>
                <source
                  srcset="
                    ./img/restaurant/sl-rest-img7-des@1x.webp 1x,
                    ./img/restaurant/sl-rest-img7-des@2x.webp 2x
                  "
                  media="(min-width: 1440px)"
                  type="image/webp"
                  width="266"
                />
                <source
                  srcset="
                    ./img/restaurant/sl-rest-img7-des@1x.jpg 1x,
                    ./img/restaurant/sl-rest-img7-des@2x.jpg 2x
                  "
                  media="(min-width: 1440px)"
                  type="image/jpg"
                  width="266"
                />
                <source
                  srcset="
                    ./img/restaurant/sl-rest-img7-tab@1x.webp 1x,
                    ./img/restaurant/sl-rest-img7-tab@2x.webp 2x
                  "
                  media="(min-width: 768px)"
                  type="image/webp"
                  width="366"
                />
                <source
                  srcset="
                    ./img/restaurant/sl-rest-img7-tab@1x.jpg 1x,
                    ./img/restaurant/sl-rest-img7-tab@2x.jpg 2x
                  "
                  media="(min-width: 768px)"
                  type="image/jpg"
                  width="366"
                />
                <source
                  srcset="
                    ./img/restaurant/sl-rest-img7-mob@1x.webp 1x,
                    ./img/restaurant/sl-rest-img7-mob@2x.webp 2x
                  "
                  type="image/webp"
                  width="157"
                />
                <source
                  srcset="
                    ./img/restaurant/sl-rest-img7-mob@1x.jpg 1x,
                    ./img/restaurant/sl-rest-img7-mob@2x.jpg 2x
                  "
                  type="image/jpg"
                  width="157"
                />
                <img
                  class="main-restaurant-slider-img common-image"
                  src="./img/slider-restourant-main/sl-rest-img7-mob@1x.jpg"
                  alt="a satisfied girl eats at the table"
                  width="157"
                  loading="lazy"
                />
              </picture>
            </div>
            <div class="main-restaurant-slider-item">
              <picture>
                <source
                  srcset="
                    ./img/restaurant/sl-rest-img8-des@1x.webp 1x,
                    ./img/restaurant/sl-rest-img8-des@2x.webp 2x
                  "
                  media="(min-width: 1440px)"
                  type="image/webp"
                  width="266"
                />
                <source
                  srcset="
                    ./img/restaurant/sl-rest-img8-des@1x.jpg 1x,
                    ./img/restaurant/sl-rest-img8-des@2x.jpg 2x
                  "
                  media="(min-width: 1440px)"
                  type="image/jpg"
                  width="266"
                />
                <source
                  srcset="
                    ./img/restaurant/sl-rest-img8-tab@1x.webp 1x,
                    ./img/restaurant/sl-rest-img8-tab@2x.webp 2x
                  "
                  media="(min-width: 768px)"
                  type="image/webp"
                  width="366"
                />
                <source
                  srcset="
                    ./img/restaurant/sl-rest-img8-tab@1x.jpg 1x,
                    ./img/restaurant/sl-rest-img8-tab@2x.jpg 2x
                  "
                  media="(min-width: 768px)"
                  type="image/jpg"
                  width="366"
                />
                <source
                  srcset="
                    ./img/restaurant/sl-rest-img8-mob@1x.webp 1x,
                    ./img/restaurant/sl-rest-img8-mob@2x.webp 2x
                  "
                  type="image/webp"
                  width="157"
                />
                <source
                  srcset="
                    ./img/restaurant/sl-rest-img8-mob@1x.jpg 1x,
                    ./img/restaurant/sl-rest-img8-mob@2x.jpg 2x
                  "
                  type="image/jpg"
                  width="157"
                />
                <img
                  class="main-restaurant-slider-img common-image"
                  src="./img/restaurant/sl-rest-img8-mob@1x.jpg"
                  alt="baked roll with salmon and greens"
                  width="157"
                  loading="lazy"
                />
              </picture>
            </div>
            <div class="main-restaurant-slider-item">
              <picture>
                <source
                  srcset="
                    ./img/restaurant/sl-rest-img9-des@1x.webp 1x,
                    ./img/restaurant/sl-rest-img9-des@2x.webp 2x
                  "
                  media="(min-width: 1440px)"
                  type="image/webp"
                  width="266"
                />
                <source
                  srcset="
                    ./img/restaurant/sl-rest-img9-des@1x.jpg 1x,
                    ./img/restaurant/sl-rest-img9-des@2x.jpg 2x
                  "
                  media="(min-width: 1440px)"
                  type="image/jpg"
                  width="266"
                />
                <source
                  srcset="
                    ./img/restaurant/sl-rest-img9-tab@1x.webp 1x,
                    ./img/restaurant/sl-rest-img9-tab@2x.webp 2x
                  "
                  media="(min-width: 768px)"
                  type="image/webp"
                  width="366"
                />
                <source
                  srcset="
                    ./img/restaurant/sl-rest-img9-tab@1x.jpg 1x,
                    ./img/restaurant/sl-rest-img9-tab@2x.jpg 2x
                  "
                  media="(min-width: 768px)"
                  type="image/jpg"
                  width="366"
                />
                <source
                  srcset="
                    ./img/restaurant/sl-rest-img9-mob@1x.webp 1x,
                    ./img/restaurant/sl-rest-img9-mob@2x.webp 2x
                  "
                  type="image/webp"
                  width="157"
                />
                <source
                  srcset="
                    ./img/restaurant/sl-rest-img9-mob@1x.jpg 1x,
                    ./img/restaurant/sl-rest-img9-mob@2x.jpg 2x
                  "
                  type="image/jpg"
                  width="157"
                />
                <img
                  class="main-restaurant-slider-img common-image"
                  src="./img/restaurant/sl-rest-img9-mob@1x.jpg"
                  alt="a glass of martini with olives and a sprig of greens"
                  width="157"
                  loading="lazy"
                />
              </picture>
            </div>
            <div class="main-restaurant-slider-item">
              <picture>
                <source
                  srcset="
                    ./img/restaurant/sl-rest-img10-des@1x.webp 1x,
                    ./img/restaurant/sl-rest-img10-des@2x.webp 2x
                  "
                  media="(min-width: 1440px)"
                  type="image/webp"
                  width="266"
                />
                <source
                  srcset="
                    ./img/restaurant/sl-rest-img10-des@1x.jpg 1x,
                    ./img/restaurant/sl-rest-img10-des@2x.jpg 2x
                  "
                  media="(min-width: 1440px)"
                  type="image/jpg"
                  width="266"
                />
                <source
                  srcset="
                    ./img/restaurant/sl-rest-img10-tab@1x.webp 1x,
                    ./img/restaurant/sl-rest-img10-tab@2x.webp 2x
                  "
                  media="(min-width: 768px)"
                  type="image/webp"
                  width="366"
                />
                <source
                  srcset="
                    ./img/restaurant/sl-rest-img10-tab@1x.jpg 1x,
                    ./img/restaurant/sl-rest-img10-tab@2x.jpg 2x
                  "
                  media="(min-width: 768px)"
                  type="image/jpg"
                  width="366"
                />
                <source
                  srcset="
                    ./img/restaurant/sl-rest-img10-mob@1x.webp 1x,
                    ./img/restaurant/sl-rest-img10-mob@2x.webp 2x
                  "
                  type="image/webp"
                  width="157"
                />
                <source
                  srcset="
                    ./img/restaurant/sl-rest-img10-mob@1x.jpg 1x,
                    ./img/restaurant/sl-rest-img10-mob@2x.jpg 2x
                  "
                  type="image/jpg"
                  width="157"
                />
                <img
                  class="main-restaurant-slider-img common-image"
                  src="./img/restaurant/sl-rest-img10-mob@1x.jpg"
                  alt="salad with asparagus on a plate"
                  width="157"
                  loading="lazy"
                />
              </picture>
            </div>
          </div>          
          <div class="restaurant-buttons">
            <button
              class="restaurant-button-modal common-button spec-page-button"
              aria-expanded="false"
              type="button"
              
              >book a table</button
            >
            <div class="restaurant-buttons-ref">
              <a class="restaurant-buttons-ref-link reset-link" href="./restaurant.html"
                >View the menu</a
              >
            </div>
          </div>
        </div>
      </section>
      <!-- /restaurant section -->
